
<h3 class="page-title">Thao tác <small>Xuất kho</small></h3>
<div ng-class="{blue: edit_id==0, red: edit_id&gt;0}" class="portlet box">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div ng-class="{'has-error': order==''}" class="col-sm-3 form-group">
            <label class="control-label">Đơn hàng</label>
            <select ng-model="order" ng-options="order.Id as order.code for order in order_list" class="form-control">
              <option style="display: none" value="">Chọn đơn hàng</option>
            </select>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Loại chi phí</label>
            <select ng-model="cost_type" ng-options="cost_type.Id as cost_type.name for cost_type in cost_type_list" class="form-control">
              <option style="display:none" value="">Chọn loại chi phí</option>
            </select>
          </div>
          <div ng-class="{'has-error': depot_type==''}" class="col-sm-3 form-group">
            <label class="control-label">Loại vật tư</label>
            <select ng-model="depot_type" ng-options="depot_type.Id as depot_type.name for depot_type in depot_type_list | filter: {cost_type: cost_type}" class="form-control">
              <option style="display:none" value="">Chọn loại vật tư</option>
            </select>
          </div>
          <div ng-class="{'has-error': quantity==''}" class="col-sm-2 form-group">
            <label class="control-label">Số lượng</label>
            <input type="number" placeholder="Số lượng xuất kho" ng-model="quantity" class="form-control"/>
          </div>
          <div class="col-sm-1 form-group">
            <label class="control-label">&nbsp;</label><br/>
            <label class="control-label">{{unit_byid[depot_type_byid[depot_type].unit].name}}</label>
          </div>
        </div>
        <div class="row">
          <div ng-class="{'has-error': date==''}" class="col-sm-3 form-group">
            <label class="control-label">Ngày</label>
            <input type="text" ng-model="date" datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          </div>
          <div ng-class="{'has-error': user==''}" class="col-sm-3 form-group">
            <label class="control-label">Người xuất</label>
            <input ng-model="user" placeholder="Tên người xuất" ng-disabled="true" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <textarea ng-model="comment" placeholder="Ghi chú" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="depot_type == '' || quantity == '' || order == '' || date == '' || user == ''" class="alert alert-dismissable alert-warning">
              <p>Vui lòng điền đầy đủ và chính xác các thông tin trong ô màu đỏ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button ng-click="postData()" ng-disabled="depot_type == '' || quantity == '' || order == '' || date == '' || user == ''" class="btn blue">Xuất</button>
        <button ng-click="deleteData()" ng-disabled="edit_id&lt;1" class="btn red">Xóa</button>
        <div class="pull-right">
          <button ng-click="cancelData(true)" ng-disabled="depot_type == '' || quantity == '' || order == '' || date == '' || user == ''" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>