
<h3 class="page-title">Thao tác <small>Thu / Chi</small></h3>
<div ng-class="{blue: inout=='Thu', red: inout=='Chi', yellow: inout=='Ghi nợ'}" class="portlet box">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{inout}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div ng-class="{'has-error': amount==''}" class="col-sm-2 form-group">
            <label class="control-label">Khoản tiền</label>
            <input type="number" placeholder="Nhập số tiền" ng-model="amount" id="amount" class="form-control"/>
          </div>
          <div class="col-sm-1">
            <label class="control-label">&nbsp;</label><br/><a href="javascript:" ng-click="add1000()">000</a><br/><a href="javascript:" ng-click="add1000000()">000,000</a>
          </div>
          <div ng-class="{'has-error': share_type==''}" class="col-sm-3 form-group">
            <label class="control-label">Loại chi phí</label>
            <select ng-model="share_type" ng-options="share_type.Id as share_type.name for share_type in share_type_list" class="form-control">
              <option style="display: none" value="">Chọn loại chi phí</option>
            </select>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Đại lý</label>
            <select ng-model="specific_agent" class="form-control">
              <option value="">Tất cả đại lý</option>
              <option value="1">Chọn đại lý</option>
            </select>
          </div>
          <div ng-show="specific_agent" class="col-sm-3 form-group">
            <label class="control-label">Chọn đại lý</label>
            <select ng-model="agent" ng-options="agent.Id as agent.name for agent in agent_list" class="form-control">
              <option style="display: none" value="0">Chọn đại lý</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1 form-group">
            <label class="control-label">Tháng</label>
            <select ng-model="month" ng-change="getDate()" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <label class="control-label">Năm</label>
            <select ng-model="year" ng-change="getDate()" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
          <div ng-class="{'has-error': user==''}" class="col-sm-3 form-group">
            <label class="control-label">Người nhập</label>
            <input ng-model="user" placeholder="Tên người nhập" ng-disabled="true" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <textarea ng-model="comment" placeholder="Ghi chú" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div ng-show="inout!='Ghi nợ'" class="form-actions">
        <button ng-click="postData()" ng-disabled="amount=='' || share_type=='' || month=='' || year==''" class="btn blue">Nhập</button>
        <button ng-click="deleteData()" ng-disabled="edit_id&lt;1" class="btn red">Xóa</button>
        <div class="pull-right">
          <button ng-click="cancelData(true)" ng-disabled="amount=='' &amp;&amp; share_type=='' &amp;&amp; month=='' &amp;&amp; year==''" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div ng-show="pushedData.length&gt;0" class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Dữ liệu vừa nhập</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Số tiền</th>
              <th>Loại chi phí</th>
              <th>Tháng</th>
              <th>Đại lý</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in pushedData">
              <td>{{item.Id}}</td>
              <td ng-click="editData(item.Id)">{{item.amount | number}}</td>
              <td ng-click="editData(item.Id)">{{share_types_byid[item.share_type].name}}</td>
              <td ng-click="editData(item.Id)">{{item.month}} - {{item.year}}</td>
              <td ng-click="editData(item.Id)">{{agents_byid[item.agent].name}}</td>
            </tr>
            <tr ng-show="pushedData.length == 0" class="danger">
              <th colspan="5">Chưa có dữ liệu</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>