
<h3 class="page-title">Thao tác <small>Quản lý đơn hàng</small></h3>
<div ng-class="{blue: edit_id==0, red: edit_id&gt;0}" class="portlet box">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div ng-class="{'has-error': agent==''}" class="col-sm-3 form-group">
            <label class="control-label">Đại lý</label>
            <select ng-model="agent" ng-options="agent.Id as agent.name for agent in agent_list | orderBy: 'name'" ng-change="changeCode()" class="form-control">
              <option style="display: none" value="">Chọn đại lý</option>
            </select>
          </div>
          <div ng-class="{'has-error': product==''}" data-ng-show="!showAddProduct" class="col-sm-3 form-group">
             <label class="control-label">Sản phẩm</label>
             <select ng-model="product" ng-options="product.Id as product.name for product in product_list| orderBy: 'name'" ng-change="changePrice()" class="form-control">
                 <option style="display: none" value="">Chọn Sản phẩm</option>
             </select>
          </div>
          <div class="col-sm-3 form-group" data-ng-show="showAddProduct">
             <label class="control-label">Sản phẩm</label>
            <button class="btn btn-success form-control" data-ng-click="addProduct()">Thêm sản phẩm</button>
          </div>
          <div ng-class="{'has-error': code==''}" ng-show="agent!=''" class="col-sm-3 form-group">
            <label class="control-label">Mã đơn hàng</label>
            <input type="text" placeholder="Mã đơn hàng" ng-model="code" id="code" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div ng-class="{'has-error': price=='0'}" class="col-sm-3 form-group">
            <label class="control-label">Giá sản phẩm</label>
            <input type="number" placeholder="Giá sản phẩm" ng-disabled="card&gt;0" ng-model="price" ng-change="countTotal()" class="form-control"/>
          </div>
          <div ng-class="{'has-error': quantity=='0'}" class="col-sm-3 form-group">
            <label class="control-label">Số lượng</label>
            <input type="number" placeholder="Số lượng sản phẩm" ng-model="quantity" ng-change="countTotal()" class="form-control"/>
          </div>
          <div class="col-sm-2 form-group">
            <label class="control-label">Phụ thu</label>
            <input type="number" placeholder="Phụ thu (nếu có)" ng-model="additional" ng-change="countTotal()" id="additional" class="form-control"/>
          </div>
          <div class="col-sm-1">
            <label class="control-label">&nbsp;</label><br/><a href="javascript:" ng-click="add1000('additional')">000</a><br/><a href="javascript:" ng-click="add1000000('additional')">000,000</a>
          </div>
          <div ng-class="{'has-error': deposit==''}" class="col-sm-2 form-group">
            <label class="control-label">Đặt cọc</label>
            <input type="number" placeholder="Đã đặt cọc" ng-model="deposit" ng-change="countTotal()" id="deposit" class="form-control"/>
          </div>
          <div class="col-sm-1">
            <label class="control-label">&nbsp;</label><br/><a href="javascript:" ng-click="add1000('deposit')">000</a><br/><a href="javascript:" ng-click="add1000000('deposit')">000,000</a>
          </div>
        </div>
        <legend>Thông tin đơn hàng</legend>
        <div class="row">
          <div ng-class="{'has-error': customer==''}" class="col-sm-3 form-group">
            <label class="control-label">Tên khách hàng</label>
            <input type="text" placeholder="Tên khách hàng" ng-model="customer" class="form-control"/>
          </div>
            <div ng-class="{'has-error': user==''}" class="col-sm-3 form-group">
                <label class="control-label">Người nhập</label>
                <input type="text" ng-model="user" ng-disabled="true" class="form-control"/>
            </div>
          <div ng-class="{'has-error': start_date==''}" class="col-sm-3 form-group">
            <label class="control-label">Ngày đặt</label>
            <input type="text" ng-model="start_date" datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          </div>
          <div ng-class="{'has-error': end_date==''}" class="col-sm-3 form-group">
            <label class="control-label">Ngày trả</label>
            <input type="text" ng-model="end_date" datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <textarea ng-model="comment" placeholder="Ghi chú" class="form-control"></textarea>
          </div>
        </div>
        <legend>Tổng kết</legend>
        <div class="row">
          <div class="col-sm-2 form-group">
            <label class="control-label">Tổng tiền:</label>
            <p class="text-success">{{total | number}} {{unit_types[unit_type]}}</p>
          </div>
          <div class="col-sm-2 form-group">
            <label class="control-label">Còn lại:</label>
            <p class="text-danger">{{remain | number}} {{unit_types[unit_type]}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="amount == '' || partner == '' || wedding_date == '' || start_date == '' || end_date == '' || price == 0 || user == '' || quantity == 0 || code == ''" class="alert alert-dismissable alert-warning">
              <p>Vui lòng điền đầy đủ và chính xác các thông tin trong ô màu đỏ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button ng-click="postData()" ng-disabled="amount == '' || partner == '' || start_date == '' || end_date == '' || price == 0 || user == '' || quantity == 0 || code == ''" class="btn blue">Nhập</button>
        <button ng-click="deleteData()" ng-disabled="edit_id&lt;1" class="btn red">Xóa</button>
        <div class="pull-right">
          <button ng-click="cancelData(true)" ng-disabled="amount == '' || partner == '' || wedding_date == '' || start_date == '' || end_date == '' || price == 0 || user == '' || quantity == 0 || code == ''" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div ng-show="pushedData.length&gt;0" class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Đơn hàng vừa thêm</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="col-lg-12">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Mã đơn hàng</th>
                <th>Tên khách hàng</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Phụ thu</th>
                <th>Đặt cọc</th>
                <th>Tổng tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in pushedData">
                <td>{{item.Id}}</td>
                <td ng-click="editData(item.Id)">{{item.code}}</td>
                <td ng-click="editData(item.Id)">{{item.customer}}</td>
                <td ng-click="editData(item.Id)">{{item.price | number}}</td>
                <td ng-click="editData(item.Id)">{{item.quantity | number}}</td>
                <td ng-click="editData(item.Id)">{{item.additional | number}}</td>
                <td ng-click="editData(item.Id)">{{item.deposit | number}}</td>
                <td ng-click="editData(item.Id)">{{item.total | number}}</td>
              </tr>
              <tr ng-show="pushedData.length == 0" class="danger">
                <th></th>
                <th colspan="8">Chưa có dữ liệu</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>