
<h3 class="page-title">Thao tác <small>Thu / Chi</small></h3>
<div ng-class="{green: inout=='', blue: inout==0, red: inout==1, yellow: inout==2}" class="portlet box">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{inout_list[inout]}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div ng-class="{'has-error': amount==''}" class="col-sm-2 form-group">
            <label class="control-label">Khoản tiền</label>
            <input type="number" placeholder="Nhập số tiền" ng-model="amount" id="amount" class="form-control"/>
          </div>
          <div class="col-sm-1">
            <label class="control-label">&nbsp;</label><br/><a href="javascript:" ng-click="add1000()">000</a><br/><a href="javascript:" ng-click="add1000000()">000,000</a>
          </div>
          <div ng-class="{'has-error': inout==''}" class="col-sm-3 form-group">
            <label class="control-label">+ / -</label>
            <select ng-model="inout" ng-options="id as inout for (id, inout) in inout_list" class="form-control">
              <option style="display: none" value="">Chọn thao tác</option>
            </select>
          </div>
          <div ng-class="{'has-error': partner==''}" ng-show="inout==0" class="col-sm-3 form-group">
            <label class="control-label">Đại lý</label>
            <select ng-model="partner" ng-options="agent.Id as agent.name for agent in agent_list | orderBy: 'name'" class="form-control">
              <option style="display: none" value="">Chọn đại lý</option>
            </select>
          </div>
          <div ng-class="{'has-error': partner==''}" ng-show="inout==1 || inout==2" class="col-sm-3 form-group">
            <label class="control-label">Đối tác / Đại lý</label>
            <select ng-model="partner" ng-change="changCosttype()" ng-options="partner.Id as partner.name group by partner.type for partner in partner_list | orderBy: 'name'" class="form-control">
              <option style="display: none" value="">Chọn đối tác / đại lý</option>
            </select>
          </div>
          <div ng-class="{'has-error': date==''}" class="col-sm-3 form-group">
            <label class="control-label">Ngày</label>
            <input type="text" ng-model="date" datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div ng-class="{'has-error': payment_type==''}" class="col-sm-3 form-group">
            <label class="control-label">Hình thức</label>
            <select ng-model="payment_type" ng-options="id as payment_type for (id, payment_type) in payment_type_list" class="form-control">
              <option style="display: none" value="">Chọn hình thức thanh toán</option>
            </select>
          </div>
          <div ng-show="payment_type==1" ng-class="{'has-error': bank==''}" class="col-sm-3 form-group">
            <label class="control-label">Ngân hàng</label>
            <select ng-model="bank" ng-options="bank.Id as bank.name for bank in bank_list | orderBy: 'name'" class="form-control">
              <option style="display:none" value="">Chọn ngân hàng</option>
            </select>
          </div>
          <div ng-show="payment_type==1 || payment_type==2" ng-class="{'has-error': (payment_type==1 || payment_type==2) &amp;&amp; payment_code==''}" class="col-sm-3 form-group">
            <label ng-show="payment_type==1" class="control-label">Mã giao dịch</label>
            <label ng-show="payment_type!==1" class="control-label">Mã hóa đơn</label>
            <input ng-model="payment_code" placeholder="Mã hóa đơn" class="form-control"/>
          </div>
          <div ng-class="{'has-error': user==''}" class="col-sm-3 form-group">
            <label class="control-label">Người nhập</label>
            <input ng-model="user" placeholder="Tên người nhập" ng-disabled="true" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <textarea ng-model="comment" placeholder="Ghi chú" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div ng-show="inout!=2" class="form-actions">
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="inout=='' || payment_type=='' || amount=='' || partner=='' || date=='' || ((payment_type==1 || payment_type==2) &amp;&amp; payment_code=='') || user=='' || (((quantity&lt;1 &amp;&amp; depot_type&gt;0) || (quantity&gt;0 &amp;&amp; depot_type&lt;1)) &amp;&amp; inout==2)" class="alert alert-dismissable alert-warning">
              <p>Vui lòng điền đầy đủ và chính xác các thông tin trong ô màu đỏ</p>
            </div>
          </div>
        </div>
        <button ng-click="postData()" ng-disabled="inout=='' || payment_type=='' || amount=='' || partner=='' || date=='' || ((payment_type==1 || payment_type==2) &amp;&amp; payment_code=='') || user=='' || (((quantity&lt;1 &amp;&amp; depot_type&gt;0) || (quantity&gt;0 &amp;&amp; depot_type&lt;1)) &amp;&amp; inout==2)" class="btn blue">Nhập</button>
        <button ng-click="deleteData()" ng-disabled="edit_id&lt;1" class="btn red">Xóa</button>
        <div class="pull-right">
          <button ng-click="cancelData(true)" ng-disabled="inout=='' &amp;&amp; payment_type=='' &amp;&amp; amount=='' &amp;&amp; partner=='' &amp;&amp; date=='' &amp;&amp; ((payment_type==1 &amp;&amp; payment_type==2) &amp;&amp; payment_code=='') &amp;&amp; user=='' &amp;&amp; (((quantity&lt;1 &amp;&amp; depot_type&gt;0) &amp;&amp; (quantity&gt;0 &amp;&amp; depot_type&lt;1)) &amp;&amp; inout==2)" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div ng-show="inout==2" class="portlet box green">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Vào kho</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-3 form-group">
            <label class="control-label">Loại chi phí</label>
            <select ng-model="cost_type" ng-options="cost_type.Id as cost_type.name for cost_type in cost_type_list" class="form-control">
              <option style="display:none" value="">Chọn loại chi phí</option>
            </select>
          </div>
          <div ng-class="{'has-error': depot_type&lt;1 &amp;&amp; quantity&gt;0 &amp;&amp; inout==2}" class="col-sm-3 form-group">
            <label class="control-label">Loại vật tư</label>
            <select ng-model="depot_type" ng-options="depot_type.Id as depot_type.name for depot_type in depot_type_list | filter: {cost_type: cost_type}" class="form-control">
              <option style="display:none" value="">Chọn loại vật tư</option>
            </select>
          </div>
          <div ng-class="{'has-error': quantity&lt;1 &amp;&amp; depot_type&gt;0 &amp;&amp; inout==2}" class="col-sm-2 form-group">
            <label class="control-label">Số lượng</label>
            <input type="number" placeholder="Số lượng vào kho" ng-model="quantity" class="form-control"/>
          </div>
          <div class="col-sm-1 form-group">
            <label class="control-label">&nbsp;</label><br/>
            <label class="control-label">{{unit_byid[depot_type_byid[depot_type].unit].name}}</label>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="inout=='' || payment_type=='' || amount=='' || partner=='' || date=='' || ((payment_type==1 || payment_type==2) &amp;&amp; payment_code=='') || user=='' || (((quantity&lt;1 &amp;&amp; depot_type&gt;0) || (quantity&gt;0 &amp;&amp; depot_type&lt;1)) &amp;&amp; inout==2)" class="alert alert-dismissable alert-warning">
              <p>Vui lòng điền đầy đủ và chính xác các thông tin trong ô màu đỏ</p>
            </div>
          </div>
        </div>
        <button ng-click="postData()" ng-disabled="inout=='' || payment_type=='' || amount=='' || partner=='' || date=='' || ((payment_type==1 || payment_type==2) &amp;&amp; payment_code=='') || user=='' || (((quantity&lt;1 &amp;&amp; depot_type&gt;0) || (quantity&gt;0 &amp;&amp; depot_type&lt;1)) &amp;&amp; inout==2)" class="btn blue">Nhập</button>
        <button ng-click="deleteData()" ng-disabled="edit_id&lt;1" class="btn red">Xóa</button>
        <div class="pull-right">
          <button ng-click="cancelData(true)" ng-disabled="inout=='' &amp;&amp; payment_type=='' &amp;&amp; amount=='' &amp;&amp; partner=='' &amp;&amp; date=='' &amp;&amp; ((payment_type==1 &amp;&amp; payment_type==2) &amp;&amp; payment_code=='') &amp;&amp; user=='' &amp;&amp; (((quantity&lt;1 &amp;&amp; depot_type&gt;0) &amp;&amp; (quantity&gt;0 &amp;&amp; depot_type&lt;1)) &amp;&amp; inout==2)" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div ng-show="pushedData.length&gt;0" class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Dữ liệu vừa nhập</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>+ / -</th>
              <th>Số tiền</th>
              <th>Đại lý / đối tác</th>
              <th>Ngày</th>
              <th>Hình thức</th>
              <th>Mã</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in pushedData">
              <td>{{item.Id}}</td>
              <td ng-click="editData(item.Id)">{{inout_list[item.inout]}}</td>
              <td ng-click="editData(item.Id)">{{item.amount | number}}</td>
              <td ng-click="editData(item.Id)">{{partner_byid[item.partner].name}}</td>
              <td ng-click="editData(item.Id)">{{item.date}}</td>
              <td ng-click="editData(item.Id)">{{payment_type_list[item.payment_type]}}</td>
              <td ng-click="editData(item.Id)">{{item.payment_code}}</td>
            </tr>
            <tr ng-show="pushedData.length == 0" class="danger">
              <th></th>
              <th colspan="6">Chưa có dữ liệu</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>