
<h3 class="page-title">Quản trị <small>Loại vật tư</small></h3>
<div ng-class="{blue: edit_id==0, red: edit_id&gt;0}" class="portlet box">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div ng-class="{'has-error': name==''}" class="col-sm-3 form-group">
            <label class="control-label">Tên</label>
            <input type="text" placeholder="Tên ..." ng-model="name" id="first" class="form-control"/>
          </div>
          <div ng-class="{'has-error': cost_type==0}" class="col-sm-3 form-group">
            <label class="control-label">Loại chi phí</label>
            <select ng-model="cost_type" ng-options="cost_type.Id as cost_type.name for cost_type in cost_type_list" class="form-control">
              <option style="display:none" value="">Chọn loại chi phí</option>
            </select>
          </div>
          <div ng-class="{'has-error': unit==0}" class="col-sm-2 form-group">
            <label class="control-label">Đơn vị tính</label>
            <select ng-model="unit" ng-options="unit.Id as unit.name for unit in unit_list" class="form-control">
              <option style="display:none" value="">Chọn đơn vị tính</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <label class="control-label">&nbsp;</label><br/>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-checked="actived === '1'" ng-model="actived"/>Actived
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="name == ''" class="alert alert-dismissable alert-warning">
              <p>Chọn để sửa hoặc điền tên loại vật tư để thêm vào danh sách</p>
            </div>
          </div>
        </div>
        <button ng-click="postData()" ng-bind="action" ng-disabled="cost_type==0 || name=='' || unit==0" class="btn blue"></button>
        <div class="pull-right">
          <button ng-click="cancelData()" ng-disabled="cost_type==0 &amp;&amp; name=='' &amp;&amp; unit==0" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Danh sách loại vật tư</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="depot_type_list.length&gt;0">
              <tr class="heading">
                <th class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Tên</th>
                <th ng-class="{sorting: sort!='cost_type', sorting_asc: sort=='cost_type'&amp;&amp;revert, sorting_desc: sort=='cost_type'&amp;&amp;!revert}" ng-click="sortBy('cost_type')">Loại chi phí</th>
                <th ng-class="{sorting: sort!='unit', sorting_asc: sort=='unit'&amp;&amp;revert, sorting_desc: sort=='unit'&amp;&amp;!revert}" ng-click="sortBy('unit')">Đơn vị tính</th>
                <th ng-class="{sorting: sort!='actived', sorting_asc: sort=='actived'&amp;&amp;revert, sorting_desc: sort=='actived'&amp;&amp;!revert}" ng-click="sortBy('actived')" class="col-xs-1">Actived</th>
                <th class="col-xs-1 text-center">Sửa</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in depot_type_list | filter: {cost_type: cost_type} | filter: {name: name} | orderBy: sort : revert" ng-class="{'warning': item.actived==0}">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.name}}</td>
                <td>{{cost_type_byid[item.cost_type].name}}</td>
                <td>{{unit_byid[item.unit].name}}</td>
                <td class="text-center">{{actived_list[item.actived]}}</td>
                <td class="text-center">
                  <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable green"><i class="fa fa-pencil"></i>	Sửa</button>
                </td>
              </tr>
              <tr ng-show="depot_type_list.length === 0" class="danger">
                <td colspan="6">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>