
<h3 class="page-title">Quản trị <small>Đơn vị tính</small></h3>
<div ng-class="{blue: edit_id==0, red: edit_id&gt;0}" class="portlet box">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input type="text" placeholder="Tên loại đơn vị tính ..." ng-model="name" id="first" class="form-control"/>
          </div>
          <div class="col-sm-3 form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-checked="actived === '1'" ng-model="actived"/>Actived
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="name == ''" class="alert alert-dismissable alert-warning">
              <p>Chọn để sửa hoặc điền tên đơn vị tính để thêm vào danh sách</p>
            </div>
          </div>
        </div>
        <button ng-click="postData()" ng-bind="action" ng-disabled="name == ''" class="btn blue"></button>
        <div class="pull-right">
          <button ng-click="cancelData()" ng-disabled="name == ''" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Danh sách đơn vị tính</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="unit_list.length&gt;0">
              <tr class="heading">
                <th class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Tên</th>
                <th ng-class="{sorting: sort!='actived', sorting_asc: sort=='actived'&amp;&amp;revert, sorting_desc: sort=='actived'&amp;&amp;!revert}" ng-click="sortBy('actived')" class="col-xs-1">Actived</th>
                <th class="col-xs-1 text-center">Sửa</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in unit_list | orderBy: sort : revert" ng-class="{'warning': item.actived==0}">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.name}}</td>
                <td class="text-center">{{actived_list[item.actived]}}</td>
                <td class="text-center">
                  <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable green"><i class="fa fa-pencil"></i>	Sửa</button>
                </td>
              </tr>
              <tr ng-show="unit_list.length === 0" class="danger">
                <td colspan="4">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>