<div class="row">
    <div class="col-md-2">
        <div class="alert alert-success" role="alert">
            <a href="#admin_setting_menu" class="alert-success">Menu</a>
        </div>
        <div class="alert alert-info" role="alert">
            <a href="#admin_setting_abc" class="alert-info">Abc</a>
        </div>
        <div class="alert alert-warning" role="alert">Def</div>
        <div class="alert alert-danger" role="alert">Xyz</div>
    </div>
    <div class="col-md-10">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="heading">
                <th class="col-xs-3 text-center">Menu</th>
                <th class="col-xs-9 text-center">Sub menu</th>
                <th class="col-xs-1 text-center">Ẩn/hiện</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in menu_list | orderBy: sort : revert">
                <td class="text-center" style="vertical-align: middle">{{item.name}}</td>
                <td class="text-center">
                    <table class="table table-hover">
                        <tr data-ng-repeat="sub_item in sub_menu_list[item.Id]">
                            <td>{{sub_item.name}}</td>
                        </tr>
                    </table>
                </td>
                <td class="text-center">
                    <table class="table table-hover" data-ng-if="sub_menu_list[item.Id]">
                        <tr data-ng-repeat="sub_item in sub_menu_list[item.Id]">
                            <td>
                                <input type="checkbox" ng-checked="sub_item['is_active'] === '1'" ng-model="menu_id" ng-true-value="{{sub_item.Id}}" ng-false-value="false_{{sub_item.Id}}" ng-change="settingMenu(menu_id)"/>
                            </td>
                        </tr>
                    </table>
                    <input data-ng-if="!sub_menu_list[item.Id]" type="checkbox" ng-checked="item['is_active'] === '1'" ng-model="menu_id" ng-true-value="{{item.Id}}" ng-false-value="false_{{item.Id}}" ng-change="settingMenu(menu_id)"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
</div>

