
<h3 class="page-title">Quản trị <small>Đại lý</small></h3>
<div ng-class="{blue: edit_id==0, red: edit_id&gt;0}" class="portlet box">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
        <div class="tools"><a href="" class="collapse"></a></div>
    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label class="control-label">Quản lý</label>
                        <input type="text" placeholder="Tên ..." ng-model="manager" id="first" class="form-control"/>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="control-label">Địa điểm</label>
                        <select ng-model="location" ng-options="city.Id as city.name for city in city_list" class="form-control">
                            <option style="display:none" value="">Chọn địa điểm</option>
                        </select>
                    </div>
                    <div ng-show="type==1" class="col-sm-2 form-group">
                        <label class="control-label">Mã đại lý</label>
                        <input type="text" placeholder="HNL, HND..." ng-model="code" class="form-control"/>
                    </div>
                    <div ng-show="type==1" class="col-sm-2 form-group">
                        <label class="control-label">% hoa hồng</label>
                        <input type="number" placeholder="% ..." ng-model="commission" class="form-control"/>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="control-label">&nbsp;</label><br/>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="actived === '1'" ng-model="actived"/>Actived
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-show="manager=='' || location=='' || type==''" class="alert alert-dismissable alert-warning">
                            <p>Chọn để sửa hoặc điền thông tin đại lý để thêm vào danh sách</p>
                        </div>
                    </div>
                </div>
                <button ng-click="postData()" ng-bind="action" ng-disabled="manager=='' || location=='' || type==''" class="btn blue"></button>
                <div class="pull-right">
                    <button ng-click="cancelData()" ng-disabled="manager=='' &amp;&amp; location=='' &amp;&amp; type==''" class="btn grey">Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-reorder"></i>Danh sách đại lý</div>
        <div class="tools"><a href="" class="collapse"></a></div>
    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead ng-show="agency_list.length&gt;0">
                        <tr class="heading">
                            <th class="col-xs-1 text-center">#</th>
                            <th ng-class="{sorting: sort!='manager', sorting_asc: sort=='manager'&amp;&amp;revert, sorting_desc: sort=='manager'&amp;&amp;!revert}" ng-click="sortBy('manager')">Tên</th>
                            <th ng-class="{sorting: sort!='location_name', sorting_asc: sort=='location_name'&amp;&amp;revert, sorting_desc: sort=='location_name'&amp;&amp;!revert}" ng-click="sortBy('location_name')">Địa điểm</th>
                            <th ng-class="{sorting: sort!='code', sorting_asc: sort=='code'&amp;&amp;revert, sorting_desc: sort=='code'&amp;&amp;!revert}" ng-click="sortBy('code')">Mã đại lý</th>
                            <th ng-class="{sorting: sort!='commission', sorting_asc: sort=='commission'&amp;&amp;revert, sorting_desc: sort=='commission'&amp;&amp;!revert}" ng-click="sortBy('commission')">% hoa hồng</th>
                            <th ng-class="{sorting: sort!='actived', sorting_asc: sort=='actived'&amp;&amp;revert, sorting_desc: sort=='actived'&amp;&amp;!revert}" ng-click="sortBy('actived')" class="col-xs-1">Actived</th>
                            <th class="col-xs-1 text-center">Sửa</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in agency_list | filter: {manager: manager} | filter: {location: location} | filter: {type: type} | orderBy: sort : revert" ng-class="{'warning': item.actived==0}">
                            <td class="text-center">{{item.id}}</td>
                            <td>{{item.manager}}</td>
                            <td>{{item.location_name}}</td>
                            <td><span ng-show="item.type==1">{{item.code}}</span></td>
                            <td><span ng-show="item.type==1">{{item.commission}}</span></td>
                            <td class="text-center">{{actived_list[item.actived]}}</td>
                            <td class="text-center">
                                <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable green"><i class="fa fa-pencil"></i>	Sửa</button>
                            </td>
                        </tr>
                        <tr ng-show="agency_list.length === 0" class="danger">
                            <td colspan="9">Chưa có dữ liệu</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>