<h3 class="page-title">Quản trị <small>Sản phẩm</small></h3>
<div ng-class="{blue: edit_id==0, red: edit_id&gt;0}" class="portlet box">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
        <div class="tools"><a href="" class="collapse"></a></div>
    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label class="control-label">Tên sản phẩm (product name)</label>
                        <input type="text" placeholder="Tên sản phẩm ..." ng-model="name" id="first" class="form-control"/>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="control-label">Giá (price)</label>
                        <input type="text" placeholder="Giá sản phẩm ..." ng-model="price" class="form-control"/>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="control-label">Đơn vị tính</label>
                        <select ng-model="unit_type" ng-options="i as unit_type for (i, unit_type) in unit_types" class="form-control">
                            <option style="display:none" value="">Chọn loại đơn vị tính</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 form-group">
                        <label class="control-label">Miêu tả sản phẩm</label>
                        <textarea ng-model="description" placeholder="Miêu tả sản phẩm ..." class="form-control"></textarea>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="control-label">&nbsp;</label><br/>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="is_active === '1'" ng-model="is_active"/>Actived
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-show="name == '' || price == '' || unit_type == ''" class="alert alert-dismissable alert-warning">
                            <p>Chọn để sửa hoặc điền thông tin sản phẩm để thêm vào danh sách</p>
                        </div>
                    </div>
                </div>
                <button ng-click="postData()" ng-bind="action" ng-disabled="name == '' || price == '' || unit_type == ''" class="btn blue"></button>
                <div class="pull-right">
                    <button ng-click="cancelData()" ng-disabled="name == '' || price == '' || unit_type == ''" class="btn grey">Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-reorder"></i>Danh sách sản phẩm</div>
        <div class="tools"><a href="" class="collapse"></a></div>
    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead ng-show="product_list.length&gt;0">
                        <tr class="heading">
                            <th class="col-xs-1 text-center">#</th>
                            <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Tên sản phẩm</th>
                            <th class="col-xs-1" ng-class="{sorting: sort!='price', sorting_asc: sort=='price'&amp;&amp;revert, sorting_desc: sort=='price'&amp;&amp;!revert}" ng-click="sortBy('price')">Giá</th>
                            <th ng-class="{sorting: sort!='description', sorting_asc: sort=='description'&amp;&amp;revert, sorting_desc: sort=='description'&amp;&amp;!revert}" ng-click="sortBy('description')" class="text-center">Miêu tả</th>
                            <th class="col-xs-1" class="text-center">Đơn vị tính</th>
                            <th class="col-xs-1" ng-class="{sorting: sort!='is_active', sorting_asc: sort=='is_active'&amp;&amp;revert, sorting_desc: sort=='is_active'&amp;&amp;!revert}" ng-click="sortBy('is_active')" class="col-xs-1 text-center">Trạng thái</th>
                            <th class="col-xs-1 text-center">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in product_list | orderBy: sort : revert" ng-class="{'warning': item.is_active==0}">
                            <td class="text-center">{{item.Id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td class="text-center">{{item.description}}</td>
                            <td>{{unit_types[item.unit_type]}}</td>
                            <td class="text-center">{{actived_list[item.is_active]}}</td>
                            <td class="text-center">
                                <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable green"><i class="fa fa-pencil"></i>	Sửa</button>
                            </td>
                        </tr>
                        <tr ng-show="product_list.length === 0" class="danger">
                            <td colspan="6">Chưa có dữ liệu</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>