
<h3 class="page-title">Quản trị <small>Người dùng</small></h3>
<div ng-class="{blue: edit_id==0, red: edit_id&gt;0}" class="portlet box">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-3 form-group">
            <label class="control-label">Tên người dùng (username)</label>
            <input type="text" placeholder="Tên người dùng ..." ng-model="username" id="first" class="form-control"/>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Mật khẩu (password)</label>
            <input type="password" placeholder="Mật khẩu ..." ng-model="password" class="form-control"/>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Tên đầy đủ</label>
            <input type="text" placeholder="Tên thật ..." ng-model="realname" class="form-control"/>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Loại người dùng</label>
            <select ng-model="type" ng-options="i as user_type for (i, user_type) in user_types" class="form-control">
              <option style="display:none" value="">Chọn loại người dùng</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 form-group">
            <label class="control-label">Ghi chú</label>
            <textarea ng-model="comment" placeholder="Ghi chú" class="form-control"></textarea>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">&nbsp;</label><br/>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-checked="actived === '1'" ng-model="actived"/>Actived
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="username == '' || password == '' || realname == '' || type == ''" class="alert alert-dismissable alert-warning">
              <p>Chọn để sửa hoặc điền thông tin người dùng để thêm vào danh sách</p>
            </div>
          </div>
        </div>
        <button ng-click="postData()" ng-bind="action" ng-disabled="username == '' || password == '' || realname == '' || type == ''" class="btn blue"></button>
        <div class="pull-right">
          <button ng-click="cancelData()" ng-disabled="username == '' || password == '' || realname == '' || type == ''" class="btn grey">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Danh sách người dùng</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="user_list.length&gt;0">
              <tr class="heading">
                <th class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='username', sorting_asc: sort=='username'&amp;&amp;revert, sorting_desc: sort=='username'&amp;&amp;!revert}" ng-click="sortBy('username')">Tên đăng nhập</th>
                <th ng-class="{sorting: sort!='realname', sorting_asc: sort=='realname'&amp;&amp;revert, sorting_desc: sort=='realname'&amp;&amp;!revert}" ng-click="sortBy('realname')">Tên thật</th>
                <th ng-class="{sorting: sort!='type', sorting_asc: sort=='type'&amp;&amp;revert, sorting_desc: sort=='type'&amp;&amp;!revert}" ng-click="sortBy('type')" class="text-center">Loại</th>
                <th class="text-center">Ghi chú</th>
                <th ng-class="{sorting: sort!='actived', sorting_asc: sort=='actived'&amp;&amp;revert, sorting_desc: sort=='actived'&amp;&amp;!revert}" ng-click="sortBy('actived')" class="col-xs-1 text-center">Actived</th>
                <th class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in user_list | orderBy: sort : revert" ng-class="{'warning': item.actived==0}">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.username}}</td>
                <td>{{item.realname}}</td>
                <td class="text-center">{{item.type_name}}</td>
                <td>{{item.comment}}</td>
                <td class="text-center">{{actived_list[item.actived]}}</td>
                <td class="text-center">
                  <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable green"><i class="fa fa-pencil"></i>	Sửa</button>
                </td>
              </tr>
              <tr ng-show="user_list.length === 0" class="danger">
                <td colspan="6">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>