<div class="row">
    <div class="col-md-2">
        <div class="alert alert-success" role="alert">
            <a href="#admin_setting_menu" class="alert-success">Menu</a>
        </div>
        <div class="alert alert-info" role="alert">
            <a href="#admin_setting_abc" class="alert-info">Abc</a>
        </div>
        <div class="alert alert-warning" role="alert">Def</div>
        <div class="alert alert-danger" role="alert">Xyz</div>
    </div>
    <div class="col-md-10">
        Welcome
    </div>
</div>
