
<h3 class="page-title">Nhân viên <small>Chấm công trong tháng</small></h3>
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Chấm công trong tháng {{month}} - {{year}} của {{staff.name}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <select ng-model="month" ng-change="getTimesheet()" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <select ng-model="year" ng-change="getTimesheet()" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
          <div class="col-sm-2 form-group"></div>
          <div class="col-sm-6 form-group">
            <select ng-model="staff" ng-change="getData()" ng-options="staff.Id as staff.name for staff in staff_list" class="form-control">
              <option style="display: none" value="">Chọn nhân viên</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Chấm công ngày {{date | date: 'dd-MM-yyyy'}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr class="heading">
                <th rowspan="2" class="col-xs-1 text-center">Ngày</th>
                <th colspan="2" class="text-center">Sáng</th>
                <th colspan="2" class="text-center">Chiều</th>
                <th rowspan="2" class="col-xs-1 text-center">Cộng</th>
                <th rowspan="2" class="col-xs-1 text-center">Tổng</th>
                <th rowspan="2">Ghi chú</th>
              </tr>
              <tr class="heading">
                <th class="col-xs-1 text-center">Đến</th>
                <th class="col-xs-1 text-center">Về</th>
                <th class="col-xs-1 text-center">Đến</th>
                <th class="col-xs-1 text-center">Về</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in date_list">
                <td class="text-center">{{item.date}}</td>
                <td colspan="7" ng-show="item.public_holiday" class="text-success text-center">Ngày nghỉ lễ</td>
                <td colspan="7" ng-show="item.dow==0" class="text-warning text-center">Cuối tuần</td>
                <td ng-hide="item.public_holiday || item.dow==0" class="text-center"><span ng-show="item.morning_start!='00:00'">{{item.morning_start}}</span></td>
                <td ng-hide="item.public_holiday || item.dow==0" class="text-center"><span ng-show="item.morning_end!='00:00'">{{item.morning_end}}</span></td>
                <td ng-hide="item.public_holiday || item.dow==0" class="text-center"><span ng-show="item.afternoon_start!='00:00'">{{item.afternoon_start}}</span></td>
                <td ng-hide="item.public_holiday || item.dow==0" class="text-center"><span ng-show="item.afternoon_end!='00:00'">{{item.afternoon_end}}</span></td>
                <td ng-hide="item.public_holiday || item.dow==0" class="text-center"><span ng-show="item.add_mins&gt;0">{{item.add_mins}} phút</span></td>
                <td ng-hide="item.public_holiday || item.dow==0" class="text-center">{{item.total_hours}}</td>
                <td ng-hide="item.public_holiday || item.dow==0">{{item.comment}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>