
<h3 class="page-title">Nhân viên <small>Chấm công</small></h3>
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Chấm công ngày {{date | date: 'dd-MM-yyyy'}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-lg-12">
            <label class="control-label">Nhân viên</label>
          </div>
          <div class="col-sm-6 form-group">
            <select ng-model="staff" ng-change="editData(staff)" ng-options="staff.Id as staff.name for staff in staff_list" class="form-control">
              <option style="display: none" value="">Chọn nhân viên</option>
            </select>
          </div>
        </div>
        <div ng-show="staff&gt;0 &amp;&amp; public_holiday!=1 &amp;&amp; off_permission!=1" class="row">
          <div ng-show="morning_start=='00:00:00'" class="col-sm-6 form-group">
            <button ng-click="postData(0)" class="btn col-xs-12 form-group btn-info btn-lg">Bấm giờ đến buổi sáng</button>
          </div>
          <div ng-show="morning_start!='00:00:00'" class="col-sm-6">
            <div class="alert alert-dismissable alert-info">{{morning_start}}</div>
          </div>
          <div ng-show="morning_end=='00:00:00'" class="col-sm-6 form-group">
            <button ng-click="postData(1)" ng-disabled="morning_start=='00:00:00'" class="btn col-xs-12 form-group btn-info btn-lg">Bấm giờ về buổi sáng</button>
          </div>
          <div ng-show="morning_end!='00:00:00'" class="col-sm-6">
            <div class="alert alert-dismissable alert-info">{{morning_start}}</div>
          </div>
        </div>
        <div ng-show="staff&gt;0 &amp;&amp; public_holiday!=1 &amp;&amp; off_permission!=1" class="row">
          <div ng-show="afternoon_start=='00:00:00'" class="col-sm-6 form-group">
            <button ng-click="postData(2)" class="btn col-xs-12 form-group btn-success btn-lg">
              						
              Bấm giờ đến buổi chiều
            </button>
          </div>
          <div ng-show="afternoon_start!='00:00:00'" class="col-sm-6">
            <div class="alert alert-dismissable alert-success">{{afternoon_start}}</div>
          </div>
          <div ng-show="afternoon_end=='00:00:00'" class="col-sm-6 form-group">
            <button ng-click="postData(3)" ng-disabled="afternoon_start=='00:00:00'" class="btn col-xs-12 form-group btn-success btn-lg">
              						
              Bấm giờ về buổi chiều
            </button>
          </div>
          <div ng-show="afternoon_end!='00:00:00'" class="col-sm-6">
            <div class="alert alert-dismissable alert-success">{{afternoon_end}}</div>
          </div>
        </div>
        <div ng-show="staff&gt;0" class="row">
          <div class="col-lg-12">
            <div class="alert alert-dismissable alert-info">
              <p>Trong trường hợp phải đi ra ngoài trước khi đến hoặc sau khi về, ghi số phút cộng thêm và lý do ở dưới</p>
            </div>
          </div>
        </div>
        <div ng-show="staff&gt;0" class="row">
          <div class="col-sm-3 form-group">
            <label class="control-label">Số phút được cộng (nếu có)</label>
            <div class="row">
              <div class="col-sm-6 form-group">
                <input type="number" placeholder="Nhập số phút" ng-model="add_mins" class="form-control"/>
              </div>
              <div class="col-sm-6 pull-right form-group">
                <button ng-click="postData()" class="btn col-sm-12 btn-default">Thêm</button>
              </div>
            </div>
          </div>
          <div class="col-sm-9 form-group">
            <label class="control-label">Ghi chú</label>
            <textarea ng-model="comment" placeholder="Ghi chú" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Chấm công ngày {{date | date: 'dd-MM-yyyy'}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="staff_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')">#</th>
                <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Tên</th>
                <th>Sáng</th>
                <th>Chiều</th>
                <th>Cộng thêm</th>
                <th>Tổng</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in staff_list | orderBy : sort : revert">
                <td>{{item.Id}}</td>
                <td>{{item.name}}</td>
                <td><span ng-hide="public_holiday || timesheet_bystaff[item.Id].off_permission">
                    <div ng-hide="!timesheet_bystaff[item.Id].morning_start || timesheet_bystaff[item.Id].morning_start=='00:00:00'" class="alert alert-info">Đ: {{timesheet_bystaff[item.Id].morning_start}}</div>
                    <div ng-show="!timesheet_bystaff[item.Id].morning_start || timesheet_bystaff[item.Id].morning_start=='00:00:00'" class="alert alert-warning">Đ:  Chưa nhập</div>
                    <div ng-hide="!timesheet_bystaff[item.Id].morning_end || timesheet_bystaff[item.Id].morning_end=='00:00:00'" class="alert alert-info">V: {{timesheet_bystaff[item.Id].morning_end}}</div>
                    <div ng-show="!timesheet_bystaff[item.Id].morning_end || timesheet_bystaff[item.Id].morning_end=='00:00:00'" class="alert alert-warning">V: Chưa nhập</div></span>
                  <div ng-show="timesheet_bystaff[item.Id].off_permission" class="alert alert-danger">Nghỉ phép</div>
                </td>
                <td><span ng-hide="public_holiday || timesheet_bystaff[item.Id].off_permission">
                    <div ng-hide="!timesheet_bystaff[item.Id].afternoon_start || timesheet_bystaff[item.Id].afternoon_start=='00:00:00'" class="alert alert-success">Đ: {{timesheet_bystaff[item.Id].afternoon_start}}</div>
                    <div ng-show="!timesheet_bystaff[item.Id].afternoon_start || timesheet_bystaff[item.Id].afternoon_start=='00:00:00'" class="alert alert-warning">Đ: Chưa nhập</div>
                    <div ng-hide="!timesheet_bystaff[item.Id].afternoon_end || timesheet_bystaff[item.Id].afternoon_end=='00:00:00'" class="alert alert-success">V: {{timesheet_bystaff[item.Id].afternoon_end}}</div>
                    <div ng-show="!timesheet_bystaff[item.Id].afternoon_end || timesheet_bystaff[item.Id].afternoon_end=='00:00:00'" class="alert alert-warning">V: Chưa nhập</div></span>
                  <div ng-show="timesheet_bystaff[item.Id].off_permission" class="alert alert-danger">Nghỉ phép</div>
                </td>
                <td>
                  <div ng-show="timesheet_bystaff[item.Id].add_mins&gt;0" class="alert alert-info">{{timesheet_bystaff[item.Id].add_mins}}'</div>
                </td>
                <td>
                  <div ng-show="timesheet_bystaff[item.Id].total_hours &amp;&amp; timesheet_bystaff[item.Id].total_hours!='00:00'" class="alert alert-info">{{timesheet_bystaff[item.Id].total_hours}}</div>
                </td>
                <td>{{timesheet_bystaff[item.Id].comment}}</td>
              </tr>
              <tr ng-show="staff_list.length == 0" class="danger">
                <th></th>
                <th colspan="7">Chưa có dữ liệu</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>