
<h3 class="page-title">Nhân viên <small>Lịch nghỉ lễ</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Lịch nghỉ lễ trong tháng {{month}}/{{year}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <select ng-model="month" ng-change="getDate()" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <select ng-model="year" ng-change="getDate()" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
          <div class="col-sm-5 form-group"></div>
          <div class="col-sm-3 form-group">
            <select ng-model="view_type" class="form-control">
              <option value="0">Tất cả các ngày</option>
              <option value="1">Ngày nghỉ lễ</option>
              <option value="2">Cuối tuần</option>
              <option value="3">Ngày làm việc</option>
            </select>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="date_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='date', sorting_asc: sort=='date'&amp;&amp;revert, sorting_desc: sort=='date'&amp;&amp;!revert}" ng-click="sortBy('date')">Ngày</th>
                <th ng-class="{sorting: sort!='dname', sorting_asc: sort=='dname'&amp;&amp;revert, sorting_desc: sort=='dname'&amp;&amp;!revert}" ng-click="sortBy('dname')">Thứ</th>
                <th ng-class="{sorting: sort!='type', sorting_asc: sort=='type'&amp;&amp;revert, sorting_desc: sort=='type'&amp;&amp;!revert}" ng-click="sortBy('type')">Tình trạng</th>
                <th class="col-xs-2 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in date_list | orderBy : sort : revert" ng-class="{'success': item.type==0, 'danger': item.type==1, 'warning': item.type==1}">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.fulldate | date:'dd-MM-yyyy'}}</td>
                <td>{{item.dname}}</td>
                <td>{{day_off_name[item.type]}}</td>
                <td class="text-center">
                  <select ng-show="item.type!=2" ng-model="item.type" ng-change="postData(item)" class="form-control">
                    <option value="0">Ngày làm việc</option>
                    <option value="1">Ngày nghỉ lễ</option>
                  </select><span ng-show="item.type==2" class="form-control alert-warning">Nghỉ cuối tuần</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>