
<h3 class="page-title">Nhân viên <small>Thông tin nhân viên {{name}}</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>{{cta}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div ng-class="{'has-error': name==''}" class="col-sm-3 form-group">
            <label class="control-label">Họ tên</label>
            <input type="text" placeholder="Họ tên đầy đủ" ng-model="name" class="form-control"/>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Số điện thoại</label>
            <input type="text" placeholder="09..." ng-model="phone" class="form-control"/>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Địa chỉ</label>
            <input type="text" placeholder="Địa chỉ liên hệ" ng-model="address" class="form-control"/>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Email</label>
            <input type="text" placeholder="email" ng-model="email" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 form-group">
            <label class="control-label">Vị trí</label>
            <input type="text" placeholder="Quản lý sản xuất, nhân viên..." ng-model="position" class="form-control"/>
          </div>
          <div class="col-sm-2 form-group">
            <label class="control-label">Ngày sinh</label>
            <input type="text" ng-model="dob" datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          </div>
          <div class="col-sm-2 form-group">
            <label class="control-label">Ngày vào làm</label>
            <input type="text" ng-model="start_date" datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          </div>
          <div ng-class="{'has-error': gender==''}" class="col-sm-2 form-group">
            <label class="control-label">Giới tính {{gender}}</label>
            <select ng-model="gender" ng-options="gender for gender in gender_list" class="form-control">
              <option style="display:none" value="">Chọn giới tính</option>
            </select>
          </div>
          <div class="col-sm-3 form-group">
            <label class="control-label">Lương</label>
            <input type="number" placeholder="Lương (VNĐ)" ng-model="salary" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <textarea ng-model="comment" placeholder="Ghi chú" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div ng-show="name=='' || gender==''" class="alert alert-dismissable alert-warning">
              <p>Vui lòng điền đầy đủ và chính xác các thông tin trong ô màu đỏ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button ng-click="postData()" ng-disabled="name=='' || gender==''" class="btn blue"><i class="fa fa-check"></i>	Nhập</button>
        <button ng-click="deleteData()" ng-disabled="edit_id&lt;1" class="btn red"><i class="fa fa-times"></i>	Ẩn khỏi hệ thống</button>
        <div class="pull-right">
          <button ng-click="cancelData(true)" ng-disabled="name=='' || gender==''" class="btn grey"><i class="fa fa-eraser"></i>	Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>