
<h3 class="page-title">Nhân viên <small>Danh sách nhân viên</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Danh sách nhân viên</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="staff_list.length&gt;0">
              <tr class="heading">
                <th>#</th>
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')">Tên</th>
                <th ng-class="{sorting: sort!='email', sorting_asc: sort=='email'&amp;&amp;revert, sorting_desc: sort=='email'&amp;&amp;!revert}" ng-click="sortBy('email')">SĐT</th>
                <th ng-class="{sorting: sort!='phone', sorting_asc: sort=='phone'&amp;&amp;revert, sorting_desc: sort=='phone'&amp;&amp;!revert}" ng-click="sortBy('phone')">Email</th>
                <th ng-class="{sorting: sort!='address', sorting_asc: sort=='address'&amp;&amp;revert, sorting_desc: sort=='address'&amp;&amp;!revert}" ng-click="sortBy('address')">Địa chỉ</th>
                <th ng-class="{sorting: sort!='start_date', sorting_asc: sort=='start_date'&amp;&amp;revert, sorting_desc: sort=='start_date'&amp;&amp;!revert}" ng-click="sortBy('start_date')">Ngày vào làm</th>
                <th ng-class="{sorting: sort!='position', sorting_asc: sort=='position'&amp;&amp;revert, sorting_desc: sort=='position'&amp;&amp;!revert}" ng-click="sortBy('position')">Vị trí</th>
                <th ng-class="{sorting: sort!='dob', sorting_asc: sort=='dob'&amp;&amp;revert, sorting_desc: sort=='dob'&amp;&amp;!revert}" ng-click="sortBy('dob')">Ngày sinh</th>
                <th ng-class="{sorting: sort!='gender', sorting_asc: sort=='gender'&amp;&amp;revert, sorting_desc: sort=='gender'&amp;&amp;!revert}" ng-click="sortBy('gender')">Giới tính</th>
                <th ng-class="{sorting: sort!='salary', sorting_asc: sort=='salary'&amp;&amp;revert, sorting_desc: sort=='salary'&amp;&amp;!revert}" ng-click="sortBy('salary')">Lương</th>
                <th class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in staff_list | orderBy : sort : revert">
                <td>{{item.Id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.address}}</td>
                <td><span ng-show="item.start_date!='0000-00-00'">{{item.start_date | date:'dd-MM-yyyy'}}</span><span ng-show="item.start_date=='0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{item.position}}</td>
                <td><span ng-show="item.dob!='0000-00-00'">{{item.dob | date:'dd-MM-yyyy'}}</span><span ng-show="item.dob=='0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{gender_list[item.gender]}}</td>
                <td>{{item.salary | number}}</td>
                <td>
                  <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr ng-show="staff_list.length == 0" class="danger">
                <th colspan="12">Chưa có dữ liệu</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-actions">
        <button ng-click="addData()" class="btn blue"><i class="fa fa-plus"></i>Thêm</button>
      </div>
    </form>
  </div>
</div>