
<h3 class="page-title">Nhân viên <small>Bảng lương tháng</small></h3>
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Bảng lương tháng {{month}} - {{year}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <select ng-model="month" ng-change="getTotalMonth()" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <select ng-model="year" ng-change="getTotalMonth()" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Bảng lương tháng {{month}} - {{year}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">				
        <div class="alert alert-dismissable alert-danger">
          <p><strong>Lưu ý</strong>
            <ol>
              <li>Lương giờ bằng lương cơ bản chia cho 208 giờ (áp dụng cho tất cả các tháng)</li>
              <li>Số giờ bắt buộc là tổng số giờ phải làm trong tháng trừ đi số giờ phép. Nghĩa là nghỉ phép là nghỉ không tính lương, nhưng không bị trừ vào số giờ làm thêm</li>
              <li>Ngày nghỉ lễ (không tính Chủ nhật) là ngày nghỉ nhưng vẫn được tính lương</li>
              <li>Lương giờ làm thêm được nhân với hệ số 1.5</li>
              <li>Số giờ làm thêm là số giờ làm thực tế trừ đi số giờ làm bắt buộc (đã trừ đi ngày nghỉ phép)</li>
              <li>Khoản phụ cấp là khoản cố định, không phụ thuộc vào số giờ làm việc trong tháng</li>
            </ol>
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="note note-info"><b>Tổng lương: </b>{{total_salary | number : 0}} đ</div>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr class="heading">
                <th class="text-center">#</th>
                <th>Nhân viên</th>
                <th class="text-center col-xs-1">Giờ/ ngày</th>
                <th class="text-center">Lương cơ bản</th>
                <th class="text-center">Phụ cấp</th>
                <th class="text-center col-xs-1">Nghỉ phép</th>
                <th class="text-right">Ngày lễ</th>
                <th class="text-right">Bắt buộc</th>
                <th class="text-right">Lương giờ</th>
                <th class="text-right">Đã làm</th>
                <th class="text-right">LT</th>
                <th class="text-right">Tổng</th>
                <th class="text-right">Lương</th>
                <th class="text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in staff_list">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.name}}</td>
                <th class="text-center">
                  <input type="text" ng-model="item.hours_per_day" class="form-control text-center"/>
                </th>
                <td class="text-center">
                  <input type="text" ng-model="item.salary" style="width: 100px" class="form-control text-center"/>
                </td>
                <td class="text-center">
                  <input type="text" ng-model="item.added" style="width: 100px" class="form-control text-center"/>
                </td>
                <td class="text-center">
                  <input type="text" ng-model="item.day_off" class="form-control text-center"/>
                </td>
                <td class="text-center">{{holiday_list.length | number}} (+{{holiday_list.length*item.hours_per_day | number}} giờ)</td>
                <td class="text-right">{{item.noHours | number}} h</td>
                <td class="text-right">{{item.hourly_salary | number : 0}} đ</td>
                <td class="text-right">{{item.working_hours | number : 1}} h</td>
                <td class="text-right">{{item.overtime | number}} h</td>
                <td class="text-right">{{item.total_hours | number}} h</td>
                <td class="text-right">{{item.total_salary | number : 0}} đ</td>
                <td>
                  <button ng-click="postData(item.staff_month_id, item.Id, item.hours_per_day, item.salary, item.added, item.day_off)" class="btn btn-xs default btn-editable green"><i class="fa fa-pencil"></i>	Cập nhật</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>