
<h3 class="page-title">Tài chính <small>Chi tiết thu / chi trong năm</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Danh sách loại vật tư</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <select ng-model="year" ng-change="getOrder()" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
          <div class="col-sm-7 form-group"></div>
          <div class="col-sm-3 form-group">
            <select ng-model="view_type" class="form-control">
              <option value="0" ng-selected="ng-selected">Thu chi trong năm</option>
              <option value="1">Chi phí phân bổ</option>
              <option value="2">Theo loại đối tác</option>
              <option value="3">Theo đối tác</option>
              <option value="4">Theo vùng</option>
            </select>
          </div>
        </div>
        <div ng-show="total_in || total_out || total_debt || total_share" class="row">
          <div class="col-md-4">
            <div class="note note-info"><b>Lợi nhuận: </b>{{total_benefit | number}} đ</div>
          </div>
          <div class="col-md-4">
            <div class="note note-success"><b>Thực thu: </b>{{total_income | number}} đ</div>
          </div>
          <div class="col-md-4">
            <div class="note note-danger"><b>Thực chi: </b>{{total_outcome | number}} đ</div>
          </div>
        </div>
        <div ng-show="total_in || total_out || total_debt || total_share" class="row">
          <div class="col-md-2">
            <div class="note note-warning"><b>Tăng/giảm nợ: </b><br/>{{total_debt_increase | number}} đ</div>
          </div>
          <div class="col-md-2">
            <div class="note note-success"><b>Tổng thu: </b><br/>{{total_in | number}} đ</div>
          </div>
          <div class="col-md-2">
            <div class="note note-danger"><b>Chi trực tiếp: </b><br/>{{total_out | number}} đ</div>
          </div>
          <div class="col-md-2">
            <div class="note note-warning"><b>Phân bổ: </b><br/>{{total_share | number}} đ</div>
          </div>
          <div class="col-md-2">
            <div class="note note-info"><b>Tổng ghi nợ: </b><br/>{{total_debt | number}} đ</div>
          </div>
          <div class="col-md-2">
            <div class="note note-success"><b>Tỷ suất lãi: </b><br/>{{total_benefit/total_income*100 | number : 1}} %</div>
          </div>
        </div>
        <div class="table-scrollable">
          <table ng-show="view_type == 0" class="table table-striped table-bordered table-hover">
            <thead ng-show="input_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')">Số tiền</th>
                <th ng-class="{sorting: sort!='partner_name', sorting_asc: sort=='partner_name'&amp;&amp;revert, sorting_desc: sort=='partner_name'&amp;&amp;!revert}" ng-click="sortBy('partner_name')">Đại lý / đối tác</th>
                <th ng-class="{sorting: sort!='date', sorting_asc: sort=='date'&amp;&amp;revert, sorting_desc: sort=='date'&amp;&amp;!revert}" ng-click="sortBy('date')">Ngày</th>
                <th ng-class="{sorting: sort!='payment_type', sorting_asc: sort=='payment_type'&amp;&amp;revert, sorting_desc: sort=='payment_type'&amp;&amp;!revert}" ng-click="sortBy('payment_type')">Hình thức</th>
                <th ng-class="{sorting: sort!='payment_code', sorting_asc: sort=='payment_code'&amp;&amp;revert, sorting_desc: sort=='payment_code'&amp;&amp;!revert}" ng-click="sortBy('payment_code')">Mã</th>
                <th class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in inputs | filter: {active : 1} | orderBy : sort : reverse" ng-class="{'danger': item.inout==1, 'success': item.inout==0, 'warning': item.inout==2}">
                <td class="text-center">{{item.Id}}</td>
                <td class="text-center">{{inout_list[item.inout]}}</td>
                <td>{{item.amount | number}}</td>
                <td>{{item.partner_name}}</td>
                <td><span ng-show="item.date != '0000-00-00'">{{item.date | date: 'dd-MM-yyyy'}}</span><span ng-show="item.date == '0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{payment_type_list[item.payment_type]}}</td>
                <td>{{item.payment_code}}</td>
                <td class="text-center">
                  <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr>
                <th colspan="8">
                  <button ng-click="editData(0)" class="btn green"><i class="fa fa-plus"></i>	Thêm</button>
                </th>
              </tr>
              <tr ng-show="inputs.length === 0" class="danger">
                <td colspan="8" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
          <table ng-show="view_type == 1" class="table table-striped table-bordered table-hover">
            <thead ng-show="shared_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')" class="text-right">Khoản tiền</th>
                <th ng-class="{sorting: sort!='share_type_name', sorting_asc: sort=='share_type_name'&amp;&amp;revert, sorting_desc: sort=='share_type_name'&amp;&amp;!revert}" ng-click="sortBy('share_type_name')">Loại chi phí</th>
                <th ng-class="{sorting: sort!='agent_name', sorting_asc: sort=='agent_name'&amp;&amp;revert, sorting_desc: sort=='agent_name'&amp;&amp;!revert}" ng-click="sortBy('agent_name')">Đại lý</th>
                <th ng-class="{sorting: sort!='total', sorting_asc: sort=='total'&amp;&amp;revert, sorting_desc: sort=='total'&amp;&amp;!revert}" ng-click="sortBy('total')">Ghi chú</th>
                <th class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in shared_list">
                <td class="text-center">{{item.Id}}</td>
                <td class="text-right">{{item.amount | number}}</td>
                <td>{{item.share_type_name}}</td>
                <td>{{item.agent_name}}</td>
                <td>{{item.comment}}</td>
                <td class="text-center">
                  <button ng-click="editData(item.Id, true)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr>
                <th colspan="5">
                  <button ng-click="editData(0, true)" class="btn green"><i class="fa fa-plus"></i>	Thêm</button>
                </th>
              </tr>
              <tr ng-show="shared_list.length === 0" class="danger">
                <td colspan="5" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
          <table ng-show="view_type == 2" class="table table-striped table-bordered table-hover">
            <thead ng-show="total.type.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Loại đối tác</th>
                <th ng-class="{sorting: sort!='total', sorting_asc: sort=='total'&amp;&amp;revert, sorting_desc: sort=='total'&amp;&amp;!revert}" ng-click="sortBy('total')">Tổng</th>
                <th ng-class="{sorting: sort!='percent', sorting_asc: sort=='percent'&amp;&amp;revert, sorting_desc: sort=='percent'&amp;&amp;!revert}" ng-click="sortBy('percent')">%</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in total.type">
                <td class="text-center">{{item.inout}}</td>
                <td>{{item.name}}</td>
                <td>{{item.total | number}}</td>
                <td>{{item.percent | number}} %</td>
              </tr>
              <tr ng-show="inputs.length === 0" class="danger">
                <td colspan="5" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
          <table ng-show="view_type == 3" class="table table-striped table-bordered table-hover">
            <thead ng-show="total.partner.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Đối tác</th>
                <th ng-class="{sorting: sort!='total', sorting_asc: sort=='total'&amp;&amp;revert, sorting_desc: sort=='total'&amp;&amp;!revert}" ng-click="sortBy('total')">Tổng</th>
                <th ng-class="{sorting: sort!='percent', sorting_asc: sort=='percent'&amp;&amp;revert, sorting_desc: sort=='percent'&amp;&amp;!revert}" ng-click="sortBy('percent')">%</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in total.partner">
                <td class="text-center">{{item.inout}}</td>
                <td>{{item.name}}</td>
                <td>{{item.total | number}}</td>
                <td>{{item.percent | number}} %</td>
              </tr>
              <tr ng-show="total.partner.length === 0" class="danger">
                <td colspan="5" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
          <table ng-show="view_type == 4" class="table table-striped table-bordered table-hover">
            <thead ng-show="total.city.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Tỉnh / Thành phố</th>
                <th ng-class="{sorting: sort!='total', sorting_asc: sort=='total'&amp;&amp;revert, sorting_desc: sort=='total'&amp;&amp;!revert}" ng-click="sortBy('total')">Tổng</th>
                <th ng-class="{sorting: sort!='percent', sorting_asc: sort=='percent'&amp;&amp;revert, sorting_desc: sort=='percent'&amp;&amp;!revert}" ng-click="sortBy('percent')">%</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in total.city">
                <td class="text-center">{{item.inout}}</td>
                <td>{{item.name}}</td>
                <td>{{item.total | number}}</td>
                <td>{{item.percent | number}} %</td>
              </tr>
              <tr ng-show="total.city.length === 0" class="danger">
                <td colspan="5" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>