
<h3 class="page-title">Tài chính <small>Chi tiết công nợ đối tác</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Danh sách loại vật tư</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-3 form-group">
            <select ng-model="partner" ng-change="getInput()" ng-options="partner.Id as partner.name for partner in partner_list | filter:{commission: '!1', cost_type: '!0'}" class="form-control">
              <option style="display: none" value="">Chọn đối tác</option>
            </select>
          </div>
          <div class="col-sm-3 form-group">
            <select ng-model="cost_type" ng-change="showChoice()" ng-options="cost_type.Id as cost_type.name for cost_type in cost_type_list" class="form-control">
              <option style="display: none" value="">Chọn loại chi phí</option>
            </select>
          </div>
          <div class="col-sm-6 form-group">
            <input ng-model="depot_type_filter" placeholder="Tìm kiếm theo tên..." class="form-control"/>
          </div>
        </div>
        <div ng-show="partner" class="row">
          <div class="col-sm-4">
            <div class="note note-danger"><b>Công nợ: </b>{{total_debt | number}} đ</div>
          </div>
          <div ng-show="usertype==0" class="col-sm-4">
            <div class="note note-warning"><b>Tổng ghi nợ: </b>{{total_in | number}} đ</div>
          </div>
          <div ng-show="usertype==0" class="col-sm-4">
            <div class="note note-success"><b>Tổng chi: </b>{{total_out | number}} đ</div>
          </div>
        </div>
        <div ng-hide="partner" class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <tr ng-repeat="item in partner_list | filter: {commission: '!1', cost_type: '!0', name: partner_filter, cost_type: cost_type}" ng-show="item.cost_type&gt;0">
                <td>{{item.name}}</td>
                <td>{{item.cost_type_name}}</td>
                <td class="col-xs-1 text-center">
                  <button ng-click="getInput(item.Id)" class="btn btn-xs default btn-editable blue"><i class="fa fa-eye"></i>	Xem</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="partner" class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="inputs.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')">Số tiền</th>
                <th ng-class="{sorting: sort!='date', sorting_asc: sort=='date'&amp;&amp;revert, sorting_desc: sort=='date'&amp;&amp;!revert}" ng-click="sortBy('date')">Ngày</th>
                <th ng-class="{sorting: sort!='payment_type', sorting_asc: sort=='payment_type'&amp;&amp;revert, sorting_desc: sort=='payment_type'&amp;&amp;!revert}" ng-click="sortBy('payment_type')">Hình thức</th>
                <th ng-class="{sorting: sort!='payment_code', sorting_asc: sort=='payment_code'&amp;&amp;revert, sorting_desc: sort=='payment_code'&amp;&amp;!revert}" ng-click="sortBy('payment_code')">Mã</th>
                <th ng-show="usertype==0 &amp;&amp; userpermission==1" class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in inputs | filter: {active : 1} | orderBy: sort : revert" ng-class="{'warning': item.inout==2, 'success': item.inout==1, 'danger': item.inout==0}">
                <td class="text-center">{{item.Id}}</td>
                <td class="text-center">{{inout_list[item.inout]}}</td>
                <td>{{item.amount | number}}</td>
                <td><span ng-show="item.date != '0000-00-00'">{{item.date | date: 'dd-MM-yyyy'}}</span><span ng-show="item.date == '0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{payment_type_list[item.payment_type]}}</td>
                <td>{{item.payment_code}}</td>
                <td ng-show="usertype==0 &amp;&amp; userpermission==1" class="text-center">
                  <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr ng-show="inputs.length === 0" class="danger">
                <td colspan="7" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div ng-show="partner&gt;0" class="form-actions">
      <button ng-click="addData()" class="btn green"><i class="fa fa-plus"></i>	Thêm</button>
    </div>
  </div>
</div>