
<h3 class="page-title">Tài chính <small>Chi tiết tài chính đơn hàng</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Chi tiết tài chính đơn hàng</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <select ng-model="month" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <select ng-model="year" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
        </div>
        <div ng-show="order_list.length&gt;0" class="row">
          <div class="col-sm-3">
            <div class="note note-success"><b>Tổng thu: </b>{{total[month][year].amount | number}} đ</div>
          </div>
          <div class="col-sm-3">
            <div class="note note-info"><b>Lợi nhuận: </b>{{total[month][year].total_benefit | number}} đ</div>
          </div>
          <div class="col-sm-3">
            <div class="note note-warning"><b>Tỷ suất lợi nhuận: </b>{{total[month][year].benefit_percent | number : 1}} %</div>
          </div>
        </div>
        <div ng-show="order_list.length&gt;0" class="row">
          <div class="col-sm-3">
            <div class="note note-warning"><b>Chi phí lương: </b>{{total[month][year].salary_value | number}} đ ({{total[month][year].salary_percent | number : 1}} %)</div>
          </div>
          <div class="col-sm-3">
            <div class="note note-danger"><b>Chi phí kho: </b>{{total[month][year].depot_value | number}} đ ({{total[month][year].depot_percent | number : 1}} %)</div>
          </div>
          <div class="col-sm-3">
            <div class="note note-info"><b>Chi phí phân bổ: </b>{{total[month][year].share_value | number}} đ ({{total[month][year].share_percent | number : 1}} %)</div>
          </div>
          <div class="col-sm-3">
            <div class="note note-success"><b>Chi phí đại lý: </b>{{total[month][year].agent_value | number}} đ ({{total[month][year].agent_percent | number : 1}} %)</div>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="order_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='code', sorting_asc: sort=='code'&amp;&amp;revert, sorting_desc: sort=='code'&amp;&amp;!revert}" ng-click="sortBy('code')">Mã đơn hàng</th>
                <th ng-class="{sorting: sort!='groom', sorting_asc: sort=='groom'&amp;&amp;revert, sorting_desc: sort=='groom'&amp;&amp;!revert}" ng-click="sortBy('groom')">Tên khách hàng</th>
                <th ng-class="{sorting: sort!='card_name', sorting_asc: sort=='card_name'&amp;&amp;revert, sorting_desc: sort=='card_name'&amp;&amp;!revert}" ng-click="sortBy('card_name')">Sản phẩm</th>
                <th ng-class="{sorting: sort!='quantity', sorting_asc: sort=='quantity'&amp;&amp;revert, sorting_desc: sort=='quantity'&amp;&amp;!revert}" ng-click="sortBy('quantity')">SL</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')">Giá trị</th>
                <th ng-class="{sorting: sort!='salary_value', sorting_asc: sort=='salary_value'&amp;&amp;revert, sorting_desc: sort=='salary_value'&amp;&amp;!revert}" ng-click="sortBy('salary_value')">CP lương</th>
                <th ng-class="{sorting: sort!='depot_value', sorting_asc: sort=='depot_value'&amp;&amp;revert, sorting_desc: sort=='depot_value'&amp;&amp;!revert}" ng-click="sortBy('depot_value')">CP kho</th>
                <th ng-class="{sorting: sort!='share_value', sorting_asc: sort=='share_value'&amp;&amp;revert, sorting_desc: sort=='share_value'&amp;&amp;!revert}" ng-click="sortBy('share_value')">CP phân bổ</th>
                <th ng-class="{sorting: sort!='agent_value', sorting_asc: sort=='agent_value'&amp;&amp;revert, sorting_desc: sort=='agent_value'&amp;&amp;!revert}" ng-click="sortBy('agent_value')">CP đại lý</th>
                <th ng-class="{sorting: sort!='total_benefit', sorting_asc: sort=='total_benefit'&amp;&amp;revert, sorting_desc: sort=='total_benefit'&amp;&amp;!revert}" ng-click="sortBy('total_benefit')">Lãi</th>
                <th ng-class="{sorting: sort!='benefit_percent', sorting_asc: sort=='benefit_percent'&amp;&amp;revert, sorting_desc: sort=='benefit_percent'&amp;&amp;!revert}" ng-click="sortBy('benefit_percent')">Tỷ suất</th>
                <th>Thao tác</th>
                <th>Tình trạng</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in order_list" ng-class="{'danger': item.level==1, 'warning': item.level==2, 'info': item.level==3, 'success': item.level==4}">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.code}}</td>
                <td>{{item.customer}}</td>
                <td>{{product_byid[item.product_id].name}}</td>
                <td>{{item.quantity | number}}</td>
                <td>{{item.amount | number}}</td>
                <td>{{item.salary_value | number}}</td>
                <td>{{item.depot_value | number}}</td>
                <td>{{item.share_value | number}}</td>
                <td>{{item.agent_value | number}}</td>
                <td>{{item.total_benefit | number}}</td>
                <td>{{item.benefit_percent}} %</td>
                <td class="text-center">
                  <button ng-click="viewStorage(item.Id)" class="btn btn-xs default btn-editable red"><i class="fa fa-eye"></i>	Kho</button>
                </td>
                <td class="text-center">
                  <div ng-show="item.closed=='0000-00-00'" class="alert-danger"><i class="fa fa-unlock"></i>	Chưa đóng</div>
                  <div ng-show="item.closed!='0000-00-00'" class="alert-success"><i class="fa fa-lock"></i>	Đã đóng</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>