
<h3 class="page-title">Tài chính <small>Chi tiết công nợ đại lý</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Chi tiết công nợ đại lý {{partner.name}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-6 form-group">
            <select ng-model="partner" ng-change="getInput()" ng-options="partner.Id as partner.name for partner in agent_list" class="form-control">
              <option style="display: none" value="">Chọn đại lý</option>
            </select>
          </div>
          <div class="col-sm-6 form-group">
            <input ng-model="agent_filter" placeholder="Tìm kiếm theo tên..." class="form-control"/>
          </div>
        </div>
        <div ng-show="partner" class="row">
          <div class="col-sm-3">
            <div class="note note-danger"><b>Công nợ: </b>{{total_debt | number}}</div>
          </div>
          <div ng-show="usertype==0" class="col-sm-3">
            <div class="note note-success"><b>Tổng thu: </b>{{total_in | number}}</div>
          </div>
          <div ng-show="usertype==0" class="col-sm-3">
            <div class="note note-warning"><b>Tổng %: </b>{{total_percent | number}}</div>
          </div>
          <div ng-show="usertype==0" class="col-sm-3">
            <div class="note note-info"><b>Tổng đơn hàng: </b>{{total_out | number}}</div>
          </div>
        </div>
        <div ng-hide="partner" class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <tr ng-repeat="item in agent_list | filter: agent_filter">
                <td>{{item.name}}</td>
                <td class="col-xs-1 text-center">
                  <button ng-click="getInput(item.Id)" class="btn btn-xs default btn-editable blue"><i class="fa fa-eye"></i>	Xem</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="partner" class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="inputs.length&gt;0">
              <tr class="heading">
                <th class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')">Số tiền</th>
                <th ng-class="{sorting: sort!='date', sorting_asc: sort=='date'&amp;&amp;revert, sorting_desc: sort=='date'&amp;&amp;!revert}" ng-click="sortBy('date')">Ngày</th>
                <th ng-class="{sorting: sort!='payment_type', sorting_asc: sort=='payment_type'&amp;&amp;revert, sorting_desc: sort=='payment_type'&amp;&amp;!revert}" ng-click="sortBy('payment_type')">Hình thức</th>
                <th ng-class="{sorting: sort!='payment_code', sorting_asc: sort=='payment_code'&amp;&amp;revert, sorting_desc: sort=='payment_code'&amp;&amp;!revert}" ng-click="sortBy('payment_code')">Mã</th>
                <th ng-show="usertype==0 &amp;&amp; userpermission==1" class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in inputs | orderBy: sort : revert" ng-class="{'warning': item.inout!=1, 'success': item.inout==1}">
                <td class="text-center">{{item.dId}}</td>
                <td class="text-center">{{agent_action[item.inout]}}</td>
                <td>{{item.amount | number}}</td>
                <td><span ng-show="item.date != '0000-00-00'">{{item.date | date: 'dd-MM-yyyy'}}</span><span ng-show="item.date == '0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{payment_type_list[item.payment_type]}}</td>
                <td>{{item.payment_code}}</td>
                <td ng-show="usertype==0 &amp;&amp; userpermission==1" class="text-center">
                  <button ng-click="editData(item.Id, item.dh)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr ng-show="inputs.length === 0" class="danger">
                <th colspan="7" class="text-center">Chưa có dữ liệu</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div ng-show="partner&gt;0" class="form-actions">
      <button ng-click="addData(0)" class="btn blue"><i class="fa fa-plus"></i>	Thêm thu chi</button>
      <button ng-click="addData(1)" class="btn green"><i class="fa fa-plus"></i>	Thêm đơn hàng</button>
    </div>
  </div>
</div>