
<h3 class="page-title">Tài chính <small>Chi tiết đơn hàng đại lý</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Chi tiết đơn hàng đại lý</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <select ng-model="month" ng-change="getOrder()" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <select ng-model="year" ng-change="getOrder()" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
          <div class="col-sm-5 form-group"></div>
          <div class="col-sm-3 form-group pull-right">
            <select ng-model="partner" ng-options="partner.code as partner.name for partner in partner_list" class="form-control">
              <option style="display: none" value="">Chọn đại lý</option>
            </select>
          </div>
        </div>
        <div ng-show="usertype == 0" class="row">
          <div class="col-sm-4">
            <div class="note note-success"><b>Tổng thu: </b>{{total | number}} đ</div>
          </div>
          <div class="col-sm-4">
            <div class="note note-warning"><b>Số tiền còn lại: </b>{{total_debt | number}} đ</div>
          </div>
          <div class="col-sm-4">
            <div class="note note-info"><b>Tổng doanh thu: </b>{{total | number}} đ</div>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="order_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='code', sorting_asc: sort=='code'&amp;&amp;revert, sorting_desc: sort=='code'&amp;&amp;!revert}" ng-click="sortBy('code')">Mã đơn hàng</th>
                <th ng-class="{sorting: sort!='customer', sorting_asc: sort=='customer'&amp;&amp;revert, sorting_desc: sort=='customer'&amp;&amp;!revert}" ng-click="sortBy('customer')">Tên khách hàng</th>
                <th ng-class="{sorting: sort!='card_name', sorting_asc: sort=='card_name'&amp;&amp;revert, sorting_desc: sort=='card_name'&amp;&amp;!revert}" ng-click="sortBy('card_name')">Sản phẩm</th>
                <th ng-class="{sorting: sort!='price', sorting_asc: sort=='price'&amp;&amp;revert, sorting_desc: sort=='price'&amp;&amp;!revert}" ng-click="sortBy('price')">Giá</th>
                <th ng-class="{sorting: sort!='quantity', sorting_asc: sort=='quantity'&amp;&amp;revert, sorting_desc: sort=='quantity'&amp;&amp;!revert}" ng-click="sortBy('quantity')">SL</th>
                <th ng-class="{sorting: sort!='additional', sorting_asc: sort=='additional'&amp;&amp;revert, sorting_desc: sort=='additional'&amp;&amp;!revert}" ng-click="sortBy('additional')">Phụ</th>
                <th ng-class="{sorting: sort!='deposit', sorting_asc: sort=='deposit'&amp;&amp;revert, sorting_desc: sort=='deposit'&amp;&amp;!revert}" ng-click="sortBy('deposit')">Cọc</th>
                <th ng-class="{sorting: sort!='total', sorting_asc: sort=='total'&amp;&amp;revert, sorting_desc: sort=='total'&amp;&amp;!revert}" ng-click="sortBy('total')">Tổng</th>
                <th colspan="2" ng-show="usertype==0 &amp;&amp; userpermission==1" class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in order_list | filter: partner | orderBy: sort : revert" ng-class="{'warning': item.closed=='0000-00-00', 'success': item.closed!='0000-00-00'}">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.code}}</td>
                <td>{{item.customer}}</td>
                <td>{{product_byid[item.product_id].name}}</td>
                <td>{{item.price | number}}</td>
                <td>{{item.quantity | number}}</td>
                <td>{{item.additional | number}}</td>
                <td>{{item.deposit | number}}</td>
                <td>{{item.total | number}}</td>
                <td ng-show="usertype==0 &amp;&amp; userpermission==1" class="text-center">
                  <button ng-click="editData(item.Id)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
                <td class="text-center">
                  <button ng-click="closeOrder(item.Id)" ng-show="item.closed=='0000-00-00'" class="btn btn-xs default btn-editable blue"><i class="fa fa-lock"></i>	Đóng</button>
                  <button ng-click="openOrder(item.Id)" ng-show="item.closed!='0000-00-00'" class="btn btn-xs default btn-editable green"><i class="fa fa-unlock"></i>	Mở lại</button>
                </td>
              </tr>
              <tr ng-show="order_list.length==0" class="danger">
                <td colspan="10" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div class="form-actions">
      <button ng-click="editData(0)" class="btn green"><i class="fa fa-plus"></i>	Thêm</button>
    </div>
  </div>
</div>