
<h3 class="page-title">Quản lý kho <small>Nhật ký xuất nhập theo đơn hàng</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i> Nhật ký xuất nhập theo đơn hàng</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div ng-show="storage_list.length&gt;0" class="row">
          <div class="col-sm-3">
            <div class="note note-danger"><b>Tổng chi phí: </b>{{total | number}} đ</div>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="storage_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='depot_type_name', sorting_asc: sort=='depot_type_name'&amp;&amp;revert, sorting_desc: sort=='depot_type_name'&amp;&amp;!revert}" ng-click="sortBy('depot_type_name')">Loại vật tư</th>
                <th ng-class="{sorting: sort!='quantity', sorting_asc: sort=='quantity'&amp;&amp;revert, sorting_desc: sort=='quantity'&amp;&amp;!revert}" ng-click="sortBy('quantity')">Số lượng</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')" class="text-right">Chi phí</th>
                <th ng-class="{sorting: sort!='price', sorting_asc: sort=='price'&amp;&amp;revert, sorting_desc: sort=='price'&amp;&amp;!revert}" ng-click="sortBy('price')" class="text-right">Đơn giá</th>
                <th ng-class="{sorting: sort!='remain', sorting_asc: sort=='remain'&amp;&amp;revert, sorting_desc: sort=='remain'&amp;&amp;!revert}" ng-click="sortBy('remain')" class="text-right">Tồn kho</th>
                <th ng-class="{sorting: sort!='remain_value', sorting_asc: sort=='remain_value'&amp;&amp;revert, sorting_desc: sort=='remain_value'&amp;&amp;!revert}" ng-click="sortBy('remain_value')" class="text-right">Tồn chi phí</th>
                <th ng-class="{sorting: sort!='time_order', sorting_asc: sort=='time_order'&amp;&amp;revert, sorting_desc: sort=='time_order'&amp;&amp;!revert}" ng-click="sortBy('time_order')">Ngày</th>
                <th ng-class="{sorting: sort!='user', sorting_asc: sort=='user'&amp;&amp;revert, sorting_desc: sort=='user'&amp;&amp;!revert}" ng-click="sortBy('user')">Người lập</th>
                <th>Ghi chú</th>
                <th ng-show="usertype==0 &amp;&amp; userpermission==1" class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in storage_list | orderBy : sort : revert" ng-class="{'warning': item.inout!=0, 'success': item.inout==0}">
                <td class="text-center">{{item.Id}}</td>
                <td class="text-right">{{item.depot_type_name}}</td>
                <td class="text-right">{{item.quantity | number}} {{depot_type_byid[depot_type].unit_name}}</td>
                <td class="text-right">{{item.amount | number}} đ</td>
                <td class="text-right">{{item.price | number}} đ</td>
                <td class="text-right">{{item.remain | number}} {{depot_type_byid[depot_type].unit_name}}</td>
                <td class="text-right">{{item.remain_value | number}} đ</td>
                <td><span ng-show="item.date != '0000-00-00'">{{item.date | date: 'dd-MM-yyyy'}}</span><span ng-show="item.date == '0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{item.user}}</td>
                <td>{{item.comment}}</td>
                <td ng-show="usertype==0 &amp;&amp; userpermission==1" class="text-center">
                  <button ng-click="editData(item.Id, item.inputid)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr ng-show="storage_list.length === 0" class="danger">
                <td colspan="10">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>