
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 well">
      <form class="login-form">
        <h3 class="form-title">Đăng nhập</h3>
        <div class="alert alert-danger display-hide">
          <button data-close="alert" class="close"></button><span>Gõ tên đăng nhập và mật khẩu.</span>
        </div>
        <div class="form-group">
           <label class="control-label visible-ie8 visible-ie9">Company Code</label>
           <div class="input-icon"><i class="glyphicon glyphicon-qrcode"></i>
               <input type="text" ng-model="company_code" autocomplete="off" placeholder="Company Code" name="company_code" ng-enter="login()" class="form-control placeholder-no-fix"/>
           </div>
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Tên đăng nhập</label>
          <div class="input-icon"><i class="fa fa-user"></i>
            <input type="text" ng-model="username" autocomplete="off" placeholder="Tên đăng nhập" name="username" ng-enter="login()" id="first" class="form-control placeholder-no-fix"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
          <div class="input-icon"><i class="fa fa-lock"></i>
            <input type="password" ng-model="password" autocomplete="off" placeholder="Mật khẩu" name="password" ng-enter="login()" class="form-control placeholder-no-fix"/>
          </div>
        </div>
        <div class="form-actions">
          <button ng-click="login()" class="btn green pull-right">Đăng nhập <i class="m-icon-swapright m-icon-white"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>