<!--<h1>{{ 'TITLE' | translate }}</h1>-->
<h3 class="page-title">Hệ thống quản lý <small>KTDigital</small></h3>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-body">
        <div class="row margin-bottom-40">
          <div class="col-md-3">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>Thao tác</h3>
              </div>
              <ul class="pricing-content list-unstyled"><br/>
                <li><i class="fa fa-exchange"></i><a href="#/action_inout/0">Thu chi</a></li>
                <li><i class="fa fa-shopping-cart"></i><a href="#/action_order/0">Thêm đơn hàng</a></li>
                <li><i class="fa fa-table"></i><a href="#/action_storage/0">Xuất kho</a></li>
                <li><i class="fa fa-sitemap"></i><a href="#/action_share/0">Phân bổ chi phí</a></li>
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>Công việc</h3>
              </div>
              <ul class="pricing-content list-unstyled"><br/>
                <li><i class="fa fa-bell"></i><a href="#/task_daily">Nhập công việc trong ngày</a></li>
                <li><i class="fa fa-align-left"></i><a href="#/task_date_list">Danh sách công việc theo ngày</a></li>
                <li><i class="fa fa-calendar"></i><a href="#/task_schedule">Lịch sản xuất</a></li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>Nhân viên</h3>
              </div>
              <ul class="pricing-content list-unstyled"><br/>
                <li ng-show="usertype==0"><i class="fa fa-clock-o"></i><a href="#/employee_timesheet">Chấm công</a></li>
                <li><i class="fa fa-group"></i><a href="#/employee_list">Danh sách nhân viên</a></li>
                <li><i class="fa fa-th-list"></i><a href="#/employee_timesheet_list">Lịch sử chấm công</a></li>
                <li><i class="fa fa-usd"></i><a href="#/employee_salary">Bảng lương</a></li>
                <li><i class="fa fa-calendar-o"></i><a href="#/employee_holiday">Lịch nghỉ lễ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>Kho</h3>
              </div>
              <ul class="pricing-content list-unstyled"><br/>
                <li><i class="fa fa-table"></i><a href="#/storage_summary">Tổng kết kho</a></li>
                <li><i class="fa fa-th-large"></i><a href="#/storage_item">Vật tư</a></li>
                <li><i class="fa fa-fighter-jet"></i><a href="#/storage_inout">Xuất nhập kho</a></li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row margin-bottom-40">
          <div class="col-md-3">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>Tài chính</h3>
              </div>
              <ul class="pricing-content list-unstyled"><br/>
                <li><i class="fa fa-phone"></i><a href="#/finance_agent">Đại lý</a></li>
                <li><i class="fa fa-plane"></i><a href="#/finance_partner">Nhà cung cấp</a></li>
                <li><i class="fa fa-square-o"></i><a href="#/finance_order">Đơn hàng</a></li>
                <li ng-show="usertype==0"><i class="fa fa-bullseye"></i><a href="#/finance_order_benefit">Chi phí đơn hàng</a></li>
                <li><i class="fa fa-plus-square"></i><a href="#/finance_month">Tổng kết tháng</a></li>
                <li ng-show="usertype==0"><i class="fa fa-plus-circle"></i><a href="#/finance_month">Tổng kết năm</a></li>
                <li ng-show="usertype==0">&nbsp;</li>
                <li ng-show="usertype==0">&nbsp;</li>
                <li ng-show="usertype==0">&nbsp;</li>
              </ul>
            </div>
          </div>
          <div ng-show="usertype==0" class="col-md-3">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>Quản trị</h3>
              </div>
              <ul class="pricing-content list-unstyled"><br/>
                <li><i class="fa fa-user"></i><a href="#/admin_users">Thành viên</a></li>
                <li><i class="fa fa-group"></i><a href="#/admin_partner_types">Loại đối tác</a></li>
                <li><i class="fa fa-group"></i><a href="#/admin_partners">Đối tác</a></li>
                <li><i class="fa fa-money"></i><a href="#/admin_banks">Ngân hàng</a></li>
                <li><i class="fa fa-globe"></i><a href="#/admin_cities">Tỉnh / thành phố</a></li>
                <li><i class="fa fa-table"></i><a href="#/admin_cost_types">Loại chi phí</a></li>
                <li><i class="fa fa-th-large"></i><a href="#/admin_depot_types">Loại vật tư</a></li>
                <li><i class="fa fa-sitemap"></i><a href="#/admin_share_types">Loại chi phí phân bổ</a></li>
                <li><i class="fa fa-info"></i><a href="#/admin_units">Đơn vị tính</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>