
<h3 class="page-title">Quản lý kho <small>Nhật ký xuất nhập theo tháng</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Danh sách loại vật tư</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-xs-2">
            <select ng-model="month" ng-change="getStorage()" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-xs-2">
            <select ng-model="year" ng-change="getStorage()" ng-options="year for year in year_list" class="form-control col-xs-2">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="storage_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="text-center">#</th>
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='order', sorting_asc: sort=='order'&amp;&amp;revert, sorting_desc: sort=='order'&amp;&amp;!revert}" ng-click="sortBy('order')">Mã</th>
                <th ng-class="{sorting: sort!='quantity', sorting_asc: sort=='quantity'&amp;&amp;revert, sorting_desc: sort=='quantity'&amp;&amp;!revert}" ng-click="sortBy('quantity')">Số lượng</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')" class="text-right">Chi phí</th>
                <th ng-class="{sorting: sort!='price', sorting_asc: sort=='price'&amp;&amp;revert, sorting_desc: sort=='price'&amp;&amp;!revert}" ng-click="sortBy('price')" class="text-right">Đơn giá</th>
                <th ng-class="{sorting: sort!='remain', sorting_asc: sort=='remain'&amp;&amp;revert, sorting_desc: sort=='remain'&amp;&amp;!revert}" ng-click="sortBy('remain')" class="text-right">Tồn kho</th>
                <th ng-class="{sorting: sort!='remain_value', sorting_asc: sort=='remain_value'&amp;&amp;revert, sorting_desc: sort=='remain_value'&amp;&amp;!revert}" ng-click="sortBy('remain_value')" class="text-right">Tồn chi phí</th>
                <th ng-class="{sorting: sort!='depot_type_name', sorting_asc: sort=='depot_type_name'&amp;&amp;revert, sorting_desc: sort=='depot_type_name'&amp;&amp;!revert}" ng-click="sortBy('depot_type_name')">Loại vật tư</th>
                <th ng-class="{sorting: sort!='date', sorting_asc: sort=='date'&amp;&amp;revert, sorting_desc: sort=='date'&amp;&amp;!revert}" ng-click="sortBy('date')">Ngày</th>
                <th ng-class="{sorting: sort!='user', sorting_asc: sort=='user'&amp;&amp;revert, sorting_desc: sort=='user'&amp;&amp;!revert}" ng-click="sortBy('user')">Người lập</th>
                <th>Ghi chú</th>
                <th ng-show="usertype==0 &amp;&amp; userpermission==1" class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in storage_list | orderBy : sort : revert" ng-class="{'warning': item.inout!=0, 'success': item.inout==0}">
                <td class="text-center">{{item.Id}}</td>
                <td class="text-center">{{storage_inout[item.inout]}}</td>
                <td><span ng-show="item.order&gt;0">{{item.order_code}}									</span><span ng-show="item.inputid&gt;0">IP{{item.inputid}}</span></td>
                <td>{{item.quantity}} {{depot_type_byid[item.depot_type].unit_name}}</td>
                <td class="text-right">{{item.amount | number}}</td>
                <td class="text-right">{{item.price | number}}</td>
                <td class="text-right">{{item.remain | number}}</td>
                <td class="text-right">{{item.remain_value | number}}</td>
                <td>{{item.depot_type_name}}</td>
                <td><span ng-show="item.date != '0000-00-00'">{{item.date | date: 'dd-MM-yyyy'}}</span><span ng-show="item.date == '0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{item.user}}</td>
                <td>{{item.comment}}</td>
                <td ng-show="usertype==0 &amp;&amp; userpermission==1" class="text-center">
                  <button ng-click="editData(item.Id, item.inputid)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr ng-show="storage_list.length === 0" class="danger">
                <td colspan="9" class="text-center">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>