
<h3 class="page-title">Quản lý kho <small>Tổng kết tồn kho</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Tổng kết tồn kho</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input type="text" placeholder="Tìm kiếm" ng-model="search" class="form-control"/>
          </div>
          <div class="col-sm-6 form-group">
            <select ng-model="cost_type" ng-options="cost_type.name as cost_type.name for cost_type in cost_type_list" class="form-control">
              <option style="display: none" value="">Chọn loại chi phí</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="note note-info"><b>Chi phí tồn kho: </b>{{total_remain_value | number}} đ</div>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="depot_type_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='name', sorting_asc: sort=='name'&amp;&amp;revert, sorting_desc: sort=='name'&amp;&amp;!revert}" ng-click="sortBy('name')">Loại vật tư</th>
                <th ng-class="{sorting: sort!='remain', sorting_asc: sort=='remain'&amp;&amp;revert, sorting_desc: sort=='remain'&amp;&amp;!revert}" ng-click="sortBy('remain')">Tồn kho</th>
                <th ng-class="{sorting: sort!='remain_value', sorting_asc: sort=='remain_value'&amp;&amp;revert, sorting_desc: sort=='remain_value'&amp;&amp;!revert}" ng-click="sortBy('remain_value')">Tồn chi phí</th>
                <th ng-class="{sorting: sort!='price', sorting_asc: sort=='price'&amp;&amp;revert, sorting_desc: sort=='price'&amp;&amp;!revert}" ng-click="sortBy('price')">Đơn giá</th>
                <th ng-class="{sorting: sort!='cost_type', sorting_asc: sort=='cost_type'&amp;&amp;revert, sorting_desc: sort=='cost_type'&amp;&amp;!revert}" ng-click="sortBy('cost_type')">Loại chi phí</th>
                <th colspan="3" class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in depot_type_list | filter: {name: search, cost_type_name:cost_type} | orderBy: sort : revert">
                <td class="text-center">{{item.Id}}</td>
                <td>{{item.name}}</td>
                <td class="text-right"><span ng-show="item.remain != 0 || item.remain_value &gt; 1000">{{item.remain | number}} {{item.unit_name}}</span></td>
                <td class="text-right"><span ng-show="item.remain != 0 || item.remain_value &gt; 1000">{{item.remain_value | number}} đ</span></td>
                <td class="text-right"><span ng-show="item.remain != 0 || item.remain_value &gt; 1000">{{item.price | number}} đ</span></td>
                <td>{{item.cost_type_name}}</td>
                <td class="text-center">
                  <button ng-click="inout(0, item.Id)" class="btn btn-xs default btn-editable green"><i class="fa fa-arrow-down"></i>	 Nhập kho</button>
                </td>
                <td>
                  <button ng-click="inout(1, item.Id)" class="btn btn-xs default btn-editable red"><i class="fa fa-arrow-up"></i>	Xuất kho</button>
                </td>
                <td>
                  <button ng-click="inout(2, item.Id)" class="btn btn-xs default btn-editable purple"><i class="fa fa-calendar"></i>	Nhật ký</button>
                </td>
              </tr>
              <tr ng-show="depot_type_list.length === 0" class="danger">
                <td colspan="7">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>