
<h3 class="page-title">Quản lý kho <small>Nhật ký xuất nhập theo vật tư</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i> Nhật ký xuất nhập theo vật tư {{depot_type}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-3 form-group">
            <select ng-model="depot_type" ng-change="getStorage()" ng-options="depot_type.Id as depot_type.name for depot_type in depot_type_list | filter: {cost_type:cost_type,name:depot_type_filter}" class="form-control">
              <option style="display: none" value="">Chọn vật tư</option>
            </select>
          </div>
          <div class="col-sm-3 form-group">
            <select ng-model="cost_type" ng-options="cost_type.Id as cost_type.name for cost_type in cost_type_list" class="form-control">
              <option style="display: none" value="">Chọn loại chi phí</option>
            </select>
          </div>
          <div class="col-sm-6 form-group">
            <input ng-model="depot_type_filter" placeholder="Tìm kiếm theo tên..." class="form-control"/>
          </div>
        </div>
        <div ng-show="depot_type" class="row">
          <div class="col-sm-3">
            <div class="note note-info"><b>Tồn kho </b>{{total | number}} {{depot_type_byid[depot_type].unit_name}}</div>
          </div>
          <div class="col-sm-3">
            <div class="note note-success"><b>Nhập kho </b>{{total_in | number}} {{depot_type_byid[depot_type].unit_name}}</div>
          </div>
          <div class="col-sm-3">
            <div class="note note-danger"><b>Xuất kho </b>{{total_out | number}} {{depot_type_byid[depot_type].unit_name}}</div>
          </div>
          <div ng-show="usertype == 0" class="col-sm-3">
            <div class="note note-danger"><b>Tồn chi phí </b>{{depot_type_byid[depot_type].remain_value | number}} đ</div>
          </div>
        </div>
        <div ng-hide="depot_type" class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <tr ng-repeat="item in depot_type_list | filter: depot_type_filter">
                <td>{{item.name}}</td>
                <td class="col-xs-1 text-center">
                  <button ng-click="getStorage(item.Id)" class="btn btn-xs default btn-editable blue"><i class="fa fa-eye"></i>	Xem</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="depot_type" class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="storage_list.length&gt;0">
              <tr class="heading">
                <th ng-class="{sorting: sort!='Id', sorting_asc: sort=='Id'&amp;&amp;revert, sorting_desc: sort=='Id'&amp;&amp;!revert}" ng-click="sortBy('Id')" class="col-xs-1 text-center">#</th>
                <th ng-class="{sorting: sort!='inout', sorting_asc: sort=='inout'&amp;&amp;revert, sorting_desc: sort=='inout'&amp;&amp;!revert}" ng-click="sortBy('inout')" class="col-xs-1 text-center">+ / -</th>
                <th ng-class="{sorting: sort!='order_code', sorting_asc: sort=='order_code'&amp;&amp;revert, sorting_desc: sort=='order_code'&amp;&amp;!revert}" ng-click="sortBy('order_code')">Mã</th>
                <th ng-class="{sorting: sort!='quantity', sorting_asc: sort=='quantity'&amp;&amp;revert, sorting_desc: sort=='quantity'&amp;&amp;!revert}" ng-click="sortBy('quantity')">Số lượng</th>
                <th ng-class="{sorting: sort!='amount', sorting_asc: sort=='amount'&amp;&amp;revert, sorting_desc: sort=='amount'&amp;&amp;!revert}" ng-click="sortBy('amount')" class="text-right">Chi phí</th>
                <th ng-class="{sorting: sort!='price', sorting_asc: sort=='price'&amp;&amp;revert, sorting_desc: sort=='price'&amp;&amp;!revert}" ng-click="sortBy('price')" class="text-right">Đơn giá</th>
                <th ng-class="{sorting: sort!='remain', sorting_asc: sort=='remain'&amp;&amp;revert, sorting_desc: sort=='remain'&amp;&amp;!revert}" ng-click="sortBy('remain')" class="text-right">Tồn kho</th>
                <th ng-class="{sorting: sort!='remain_value', sorting_asc: sort=='remain_value'&amp;&amp;revert, sorting_desc: sort=='remain_value'&amp;&amp;!revert}" ng-click="sortBy('remain_value')" class="text-right">Tồn chi phí</th>
                <th ng-class="{sorting: sort!='time_order', sorting_asc: sort=='time_order'&amp;&amp;revert, sorting_desc: sort=='time_order'&amp;&amp;!revert}" ng-click="sortBy('time_order')">Ngày</th>
                <th ng-class="{sorting: sort!='user', sorting_asc: sort=='user'&amp;&amp;revert, sorting_desc: sort=='user'&amp;&amp;!revert}" ng-click="sortBy('user')">Người lập</th>
                <th>Ghi chú</th>
                <th ng-show="usertype==0 &amp;&amp; userpermission==1" class="col-xs-1 text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in storage_list | orderBy : sort : revert" ng-class="{'warning': item.inout!=0, 'success': item.inout==0}">
                <td class="text-center">{{item.Id}}</td>
                <td class="text-center">{{storage_inout[item.inout]}}</td>
                <td><span ng-show="item.order&gt;0">{{item.order_code}}									</span><span ng-show="item.inputid&gt;0">IP{{item.inputid}}</span></td>
                <td class="text-right">{{item.quantity | number}} {{depot_type_byid[depot_type].unit_name}}</td>
                <td class="text-right">{{item.amount | number}} đ</td>
                <td class="text-right">{{item.price | number}} đ</td>
                <td class="text-right">{{item.remain | number}} {{depot_type_byid[depot_type].unit_name}}</td>
                <td class="text-right">{{item.remain_value | number}} đ</td>
                <td><span ng-show="item.date != '0000-00-00'">{{item.date | date: 'dd-MM-yyyy'}}</span><span ng-show="item.date == '0000-00-00'">Chưa nhập ngày</span></td>
                <td>{{item.user}}</td>
                <td>{{item.comment}}</td>
                <td ng-show="usertype==0 &amp;&amp; userpermission==1" class="text-center">
                  <button ng-click="editData(item.Id, item.inputid)" class="btn btn-xs default btn-editable red"><i class="fa fa-pencil"></i>	Sửa/xóa</button>
                </td>
              </tr>
              <tr ng-show="storage_list.length === 0" class="danger">
                <td colspan="8">Chưa có dữ liệu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>