
<h3 class="page-title">Công việc <small>Nhật ký công việc hàng ngày</small></h3>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Nhật ký công việc ngày {{date | date: "dd-MM-yyyy"}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-3 form-group">
            <input type="text" ng-model="date" ng-change="getOrder()" datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" close-text="Close" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="progress progress-striped">
              <div ng-repeat="item in task_list" ng-class="{'progress-bar-success': $index%5==1, 'progress-bar-warning': $index%5==2, 'progress-bar-danger': $index%5==3, 'progress-bar-info': $index%5==4}" style="float: left; width: {{item.col}}%" class="progress-bar"><b>{{item.code}}</b>: {{item.hours}} giờ</div>
            </div>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead ng-show="order_list.length&gt;0">
              <tr class="heading">
                <th>#</th>
                <th>Mã</th>
                <th>Thông tin</th>
                <th>SL</th>
                <th>Ngày trả</th>
                <th>Số giờ</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in order_list | orderBy: 'end_date'">
                <td>{{item.Id}}</td>
                <td>{{item.code}}</td>
                <td>{{item.groom}} + {{item.bride}} ({{card_byid[item.card].ten}}) {{paper_type[card_byid[item.card].paper]}}</td>
                <td>{{item.quantity | number}}</td>
                <td><span ng-show="item.end_date != '0000-00-00'">{{item.end_date | date: 'dd-MM-yyyy'}}</span><span ng-show="item.end_date == '0000-00-00'">Chưa nhập ngày</span></td>
                <td>
                  <input type="number" ng-model="item.hours"/>
                </td>
                <td>
                  <textarea ng-model="item.comment" style="width: 100%"></textarea>
                </td>
              </tr>
              <tr ng-show="order_list.length==0" class="danger">
                <td colspan="7">Không có đơn hàng</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div class="form-actions">
      <button ng-click="postData()" class="btn green"><i class="fa fa-check"></i>	Cập nhật</button>
    </div>
  </div>
</div>