
<h3 class="page-title">Công việc <small>Theo dõi công việc hàng ngày</small></h3>
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Theo dõi công việc hàng ngày trong tháng {{month}} - {{year}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-2 form-group">
            <select ng-model="month" ng-change="getTaskDaily()" ng-options="month for month in month_list" class="form-control">
              <option style="display: none" value="">Tháng</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <select ng-model="year" ng-change="getTaskDaily()" ng-options="year for year in year_list" class="form-control">
              <option style="display: none" value="">Năm</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-reorder"></i>Bảng theo dõi công việc hàng ngày trong tháng {{month}} - {{year}}</div>
    <div class="tools"><a href="" class="collapse"></a></div>
  </div>
  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr class="heading">
                <th class="col-xs-1 text-center">Ngày</th>
                <th>Giờ làm việc</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in date_list">
                <td class="text-center">{{item.date}}</td>
                <td>
                  <label>Thực tế</label>
                  <div class="progress progress-striped">
                    <div ng-repeat="task in item.task_list" ng-class="{'progress-bar-success': $index%5==1, 'progress-bar-warning': $index%5==2, 'progress-bar-danger': $index%5==3, 'progress-bar-info': $index%5==4}" style="float: left; width: {{task.col}}%" class="progress-bar"><b>{{order_byid[task.order].code}}</b>: {{task.hours}} giờ</div>
                  </div>
                  <label>Kế hoạch</label>
                  <div class="progress">
                    <div ng-repeat="task in item.task_schedule" ng-class="{'progress-bar-success': $index%5==1, 'progress-bar-warning': $index%5==2, 'progress-bar-danger': $index%5==3, 'progress-bar-info': $index%5==4}" style="float: left; width: {{task.scol}}%" class="progress-bar"><b>{{order_byid[task.order].code}}</b>: {{task.hours}} giờ</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>