@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: url("../fonts/MyriadPro-Semibold.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff");
  src: url("../fonts/MyriadPro-Semibold.ttf") format("truetype");
  src: url("../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  src: url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

@font-face {
  font-family: "MyriadPro-LightIt";
  src: url("../fonts/MyriadPro-LightIt.eot");
  src: url("../fonts/MyriadPro-LightIt.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-LightIt.woff") format("woff");
  src: url("../fonts/MyriadPro-LightIt.ttf") format("truetype");
  src: url("../fonts/MyriadPro-LightIt.svg#MyriadPro-LightIt") format("svg");
}
