@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: url("../fonts/MyriadPro-Semibold.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff");
  src: url("../fonts/MyriadPro-Semibold.ttf") format("truetype");
  src: url("../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  src: url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

@font-face {
  font-family: "MyriadPro-LightIt";
  src: url("../fonts/MyriadPro-LightIt.eot");
  src: url("../fonts/MyriadPro-LightIt.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-LightIt.woff") format("woff");
  src: url("../fonts/MyriadPro-LightIt.ttf") format("truetype");
  src: url("../fonts/MyriadPro-LightIt.svg#MyriadPro-LightIt") format("svg");
}

@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: url("../fonts/MyriadPro-Semibold.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff");
  src: url("../fonts/MyriadPro-Semibold.ttf") format("truetype");
  src: url("../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  src: url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

@font-face {
  font-family: "MyriadPro-LightIt";
  src: url("../fonts/MyriadPro-LightIt.eot");
  src: url("../fonts/MyriadPro-LightIt.eot?iefix") format("eot");
  src: url("../fonts/MyriadPro-LightIt.woff") format("woff");
  src: url("../fonts/MyriadPro-LightIt.ttf") format("truetype");
  src: url("../fonts/MyriadPro-LightIt.svg#MyriadPro-LightIt") format("svg");
}

/* line 5, ../../src/styles/main.sass */
body {
  margin: 0;
  padding: 0;
}
/* line 8, ../../src/styles/main.sass */
body .modal {
  display: block;
}
/* line 10, ../../src/styles/main.sass */
body .modal .modal-dialog {
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  text-align: center;
}
/* line 18, ../../src/styles/main.sass */
body .cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background-color: black;
  z-index: 999;
}
